<?xml version="1.0" encoding="utf-8"?>
<!--사이트 차단을 위한 설정입니다.
1. 사이트를 차단하기 위해서는 mode='on'으로 하고 siteOffTime 값과 siteOnTime값을 설정하십시오.
2. mode='off'일 경우에는 siteOffTime, siteOnTime 값에 관계없이 사이트 차단 기능이 동작하지 않습니다.
3. 사이트 차단상태에서는 redirectUrl 설정에 지정된 URL로 모두 HTTP 요청이 리디렉트 됩니다.-->
<siteOff 
	mode="on" 
	redirectUrl="http://m.gmarket.co.kr/challenge/neo_copy/checknotice.html" 
	siteOffTime="8/07/2013 14:50:00" 
	siteOnTime="8/07/2013 14:55:00" />