@{
    Layout = null;
}

@model 	GMKT.GMobile.Web.Models.SiteOffM

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>G마켓- 쇼핑을 다 담다.</title>

	<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" />

	<style type="text/css">
		/*<![CDATA[*/
		#MsgArea {
			width: 100%;
			text-align: center;
		}

		#MsgArea h1 {
			padding-top: 6px;
		}

		#MsgArea div {
			width: 300px;
			height: 272px;
			margin: 7px auto;
			background: url('http://image.gmarket.co.kr/Gmarket_Mobile_Image/common/neo_copy/msg_inspect_bg.gif') no-repeat;
		}

		#MsgArea span {
			display: block;
			color: #FFF;
			padding-top: 191px;
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			font-family: Verdana;
		}

		#MsgArea strong {
			font-size: 21px;
		}

		#MsgArea p {
			color: #666;
			font-size: 10px;
			font-family: Verdana;
		}
		/*]]>*/
	</style>
</head>
<body>
	<div id="MsgArea">
		<h1><img alt="Gmarket" src="http://image.gmarket.co.kr/Gmarket_Mobile_Image/logo_gmarket.gif" /></h1>
		<div>
			<span>
				서비스 재개 예정 시각<br />
				<strong id="edt">@Model.EndDate</strong>
			</span>
		</div>
		<p>Copyright ⓒ Gmarket. All rights reserved.</p>
	</div>
</body>
</html>