@using GMKT.GMobile.Web.Models;
@model ServiceListModel

<div class="svc_go">
	<ul>

@{
    String SnaService = "";    
    int StrInt = 8;
}

@{
	for ( int i = 0; i < Model.ServiceList.Count && i < 9; i++ )
	{
		var service = Model.ServiceList[i];

        if (StrInt < 10)
        {
            SnaService = "70360000" + StrInt;
        }
        else
        {
            SnaService = "7036000" + StrInt;
        }
        
		<li>
			<a href="http://sna.gmarket.co.kr/?fcd=@SnaService&url=@service.ServiceLnkUrl">
				<span class="ico"><img src="@service.ServiceImageUrl" alt="" /></span>
				@service.ServiceText
			</a>
		</li>
        StrInt++;
	}
}
	</ul>

</div>

@{
	if ( Model.ServiceList.Count > 9 )
	{
        StrInt = 17;
        
		<ul class="list_go">
		@{

        for (int i = 9; i < Model.ServiceList.Count; i++)
        {
            if (StrInt < 10)
            {
                SnaService = "70360000" + StrInt;
            }
            else
            {
                SnaService = "7036000" + StrInt;
            }

            var service = Model.ServiceList[i];
			<li>
				<a href="http://sna.gmarket.co.kr/?fcd=@SnaService&url=@service.ServiceLnkUrl">
					@service.ServiceText
				</a>
			</li>
            StrInt++;

        }
		}
		</ul>
	}
}