@{
	Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<title>GMARKET</title>
<meta http-equiv="content-Type" content="text/html; charset=euc-kr" />
<meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
<link rel="stylesheet" type="text/css" href="http://m.gmarket.co.kr/CSS/gmkt320/mobile.css" />
<style type="text/css">
/* rest CSS */
body {background-color:#1e2f51;}
#wrapper {width:100%; height:100%; position:relative; text-align:center; background-color:#1e2f51;}
.m_img {width:100%;}
</style>

</head>
<body>
<div id="wrapper">
	<div><a href="http://mobile.gmarket.co.kr/Display/SpecialShopping?lcId=&sid=141689&jaehuid=200007273"><img class="m_img" src="http://image.gmarket.co.kr/Gmkt_Event/2016/01/01_sfc/banner/20160118_m_bn.jpg" alt="삼성가족 특별혜택" /></a></div>
</div>
</body>
</html>