@using GMKT.GMobile.Web.Models;
@{
	
}

<script type="text/javascript">
	
	jQuery(document).ready(function () {

		displayLayer("progress_icon", "none");

	});

</script>


<!-- CONTENTS -->
	<div id="contents" class="cts">
		<div class="cstm_ct">
			<h3 class="tit">모바일 고객센터<span class="arr">&gt;</span>G마켓 고객센터에 문의</h3>
			<div class="cs_write_w">
				<div class="cs_write">
					<h4 class="sbtit">문의종류선택</h4>
					<div class="sec_inpt">
						<span class="wp">
							<select>
								<option>선택1</option>
							</select>
						</span>
						<span class="wp">
							<select>
								<option>선택2</option>
							</select>
						</span>
					</div>			
				</div>

				<div class="cs_write">
					<h4 class="sbtit">문의제목</h4>
					<div class="wp_input"><input type="text" class="w100" placeholder="입력하세요" /></div>
				</div>

				<div class="cs_write">
					<h4 class="sbtit">주문상품선택</h4>
					<div class="wp_input">
						<div class="inpt"><input type="text" placeholder="선택하세요" /><a href="#" class="reg_bt">상품찾기</a></div>
					</div>
				</div>

				<div class="cs_write">
					<div class="wp_tit">
						<div class="bt_wp"><a href="#" class="reg_bt" onclick="displayLayer_posit('layer_photo',this);return false;">이미지 등록</a></div>
						<h4 class="sbtit">문의내용 <span class="st">(2000자 입력가능)</span></h4>
					</div>
					<div class="wp_input"><textarea cols="1" rows="1" placeholder="문의내용을 입력하세요"></textarea></div>
					<div class="viw_thumb">
						<ul>
							<li><img src="../../images/640/temp/img_140x140.jpg" alt="" /></li>
							<li><img src="../../images/640/temp/img_140x140.jpg" alt="" /></li>
							<li><img src="../../images/640/temp/img_140x140.jpg" alt="" /></li>
						</ul>
						<p class="gtx">이미지는 최대 3장 까지 등록 가능합니다.</p>
					</div>
				</div>

				<div class="cs_write">
					<h4 class="sbtit">연락 받으실 SMS</h4>
					<div class="wp_input">
						<select class="w30">
							<option>010</option>
						</select>
						<span class="dash">-</span>
						<input type="text" class="w30" />
						<span class="dash">-</span>
						<input type="text" class="w30" />
						<div class="botxt">
							<span class="sect"><input type="checkbox" id="sms" /><label for="sms">답신여부를 SMS로 받음</label></span>
							<span class="sect"><input type="checkbox" id="push" /><label for="push">PUSH로 받음</label></span>
						</div>
					</div>
				</div>
				
				<div class="cs_write">
					<h4 class="sbtit">답변 받으실 E-mail</h4>
					<div class="sec_inpt email">
						<span class="wp">
							<input type="text" />
						</span>
						<span class="whelk"></span>
						<span class="wp">
							<input type="text" />
							<span class="selw">
								<select>
									<option>직접입력</option>
								</select>
							</span>
						</span>
					</div>			
				</div>
			</div>

			<div class="wbtn_list">
				<span class="wp"><a href="#" class="blu">문의하기 등록</a></span>
				<span class="wp"><a href="#">입력취소</a></span>
			</div>
			<p class="guid_inq">* G마켓 고객센터에 문의는 고객센터에서 가능하고, 판매자에게 직접 문의는 상품상세 페이지와 나의쇼핑정보에서 가능합니다.</p>

			<!--layer-->
			<div class="layer_cnnt" id="layer_photo">
				<h4 class="ly_tit">사진첨부 방식을 선택하세요</h4>
				<div class="wrp_pht">
					<div class="sel_pht">
						<a href="#" class="btn_pht">사진찍기</a>
						<a href="#" class="btn_pht">앨범에서 선택</a>
					</div>
					<div class="wbtn_lists">
						<span class="wp"><a href="#" onclick="displayLayer_posit('layer_photo',this);return false;">취소</a></span>
					</div>
				</div>
				<a href="#" class="ly_close" onclick="displayLayer_posit('layer_photo',this);return false;">닫기</a>
			</div>
		</div>
	</div>
	<!--// CONTENTS -->