@using GMKT.Web.Membership
@if (PageAttr.Exid != ExIdAppEnum.None)
{
<style type="text/css">
	#head.head_simple
	{
		display: none;
	}
</style>
}
<div id="content" class="dept">
	@{Html.RenderPartial("_DepartmentStoreSubHeader");}
	@if(ViewBag.menuName == "LP")
	{
	<div class="navi_dept">
	<h4>@ViewBag.selectedCategoryGroupName</h4>
	<ul class="dep">
		@foreach( var i in ViewBag.categoryGroupList)
		{
			<li @(Html.Raw(i.CategoryGroupCode == ViewBag.selectedCategoryGroupCode ? "class='selected'" : ""))><a href="/DepartmentStore/Category?categoryGroup=@i.CategoryGroupCode">@i.CategoryGroupName</a></li>
		}
	</ul>
	</div>
	}
	@{Html.RenderPartial("~/Views/Search/Search.cshtml");}
</div>