@{
	//ViewBag.Title = "ShopClosed";
}

	<!-- 미니샵/스토어 Wrap -->
	<div id="ms_wrap">
		<p style="margin: 17px 16px"><img src="@Urls.MobileImageUrlV2/shop/img/shop_closed.jpg" alt="" style="width: 100%;"/></p>
	</div>
	<!-- //미니샵/스토어 Wrap -->

@section Scripts
{
	<script type="text/javascript">
		$(document).ready(function(){
			displayLayer("progress_icon", "none");
		});
		
	</script>
}