@using GMKT.GMobile.Web.Models;
@model SuggestKeywordModel
@{
    Layout = null;
	
	string strongKeyword = string.Empty;
	if (Model != null && false == string.IsNullOrEmpty(Model.Keyword))
	{
		strongKeyword = "<em>" + Model.Keyword + "</em>";
	}
}

@if (Model != null && Model.SuggestKeywordList != null)
{
	foreach (var keyword in Model.SuggestKeywordList)
	{
	<li><a href="#" class="srch_txt" onClick="goSearch('@keyword');">@Html.Raw(@keyword.Replace(@Model.Keyword, strongKeyword))</a></li>
	}
}
