@if (DateTime.Now <= new DateTime(2015, 10, 13, 23, 59, 59))
{
<a onclick="popBlockUI3('ly_psmile');return false;" class="banner_smile">
	<img src="@Urls.MobileImagePics/mobile/banner_smile.jpg" alt="2015년10월14일 G마켓과 옥션의 새로운 통합 Point and Cash 서비스를 소개합니다. Smile Point와 Smile Cash, P smile">
</a>
<div id="ly_psmile" style="display: none;">
	<h3 class="ly_tit">알려드립니다.</h3>
	<div class="ly_cont">
		<p>G마켓을 사랑해주시는 모든 회원님께 진심으로 감사 드리며 10월 14일 새롭게 선보이는 Smile Point와 Smile Cash 서비스를 안내 드립니다.</p>
		<h4>Smile Point(스마일포인트) 란?</h4>
		<p class="in">G마켓의 ‘G마일리지’가 통합포인트 서비스로 새롭게 탄생해 <br>G마켓 뿐 아니라 G9,옥션에서도 자유롭게 적립/사용이 가능한 신개념 포인트 입니다.</p>
		<table summary="스마일포인트 변경사항">
			<colgroup>
			<col width="25%">
			<col width="25%">
			<col width="25%">
			<col width="25%">
			</colgroup>
			<thead>
			<tr>
			<th scope="col">변경 전</th>
			<th scope="col">변경 후</th>
			<th scope="col">변경사항</th>
			<th scope="col">비고</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>G마일리지</td>
			<td><strong>Smile Point</strong><br>(스마일포인트)</td>
			<td>명칭변경 및<br>적립/사용처<br>확대</td>
			<td>G마켓/G9/옥션 <br>통합적립&amp;사용</td>
			</tr>
			</tbody>
		</table>
		<h4>Smile Cash(스마일캐시) 란?</h4>
		<p class="in">‘G캐시’, ‘현금잔고’, ‘북캐시’가 통합된 새로운 서비스로 <br>G마켓 뿐 아니라 G9,옥션에서도 자유롭게 적립/사용이 가능한 신개념 포인트 입니다.</p>
		<table summary="스마일캐시 변경사항">
			<colgroup>
			<col width="25%">
			<col width="25%">
			<col width="25%">
			<col width="25%">
			</colgroup>
			<thead>
			<tr>
			<th scope="col">변경 전</th>
			<th scope="col">변경 후</th>
			<th scope="col">변경사항</th>
			<th scope="col">비고</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>현금잔고<br>G캐시<br>북캐시</td>
			<td><strong>Smile Cash</strong><br>(스마일캐시)</td>
			<td>명칭변경 및<br>적립/사용처<br>확대</td>
			<td>G마켓/G9/옥션 통합적립&amp;사용</td>
			</tr>
			</tbody>
		</table>
		<ul>
		<li>기존에 보유하고 있는 보유액은 10/14일 변경되는 서비스로 자동전환 및 통합 됩니다.</li>
		<li>10월 14일 이후 발급되는 G캐시는 G마켓 패밀리사이트인 G9에서만 사용이 가능합니다. <br><br>G마켓은 앞으로도 회원님들께 보다 나은 서비스를 제공하기 위하여 더욱 노력하겠습니다. <br><br>감사합니다.</li>
		</ul>
	</div>
	<a href="#" class="btn_close" onclick="popBlockUI('ly_psmile');return false;">닫기</a>
</div>
}
