@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AuthSucess</title>
</head>
<body>
	<form id='successForm' action="@Urls.MWebUrl/Login/checkplus_success_adult.asp" method="POST"><input type="hidden" name="rtnurl" value="@ViewBag.rtnurl"></form>
	<script type="text/javascript">
		document.getElementById("successForm").submit();
	</script>
</body>
</html>
