@charset "utf-8";

/* slim header */
#hd_slim div,#hd_slim  dl,#hd_slim dt,#hd_slim dd,#hd_slim ul,#hd_slim ol,#hd_slim li,#hd_slim h1,#hd_slim h2,#hd_slim h3,#hd_slim h4,#hd_slim h5,#hd_slim h6, #hd_slim form, #hd_slim fieldset,#hd_slim input,#hd_slim select,#hd_slim textarea,#hd_slim p,#hd_slim blockquote,#hd_slim th,#hd_slim td,#hd_slim legend,#hd_slim button{ font-size:16px; line-height:1.25em;}
#hd_slim{position:relative; min-height:52px; background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bg_header_slim.gif") repeat-x left 0;background-size:1px 52px;-webkit-background-size:1px 52px;}
#hd_slim:after {display:block; content:''; clear:both;}
#hd_slim button{background:none;}
#hd_slim h1{ position:absolute; top:10px; left:5px; width:102px; height:26px; text-indent:-9999px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/h1_gmarket.gif") no-repeat 0 0;background-size:102px 26px;-webkit-background-size:102px 26px;}
#hd_slim h1 a{display:block;height:26px;}

#hd_slim .scb_wrap{padding:5px 52px 6px 116px;}
#hd_slim .scb_wrap .scb{position:relative;height:38px;border:1px solid #1958a5;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bg_scb.gif") repeat-x left top;background-size:1px 38px;-webkit-background-size:1px 38px;}
#hd_slim .scb_wrap .scb .scb_sub{position:relative;display:block;margin:2px;border:1px solid #1958a5;}
#hd_slim .scb_wrap .scb .scb_sub input{width:100%;height:32px;border:0;color:#333;font-size:0.75em;font-weight:normal;letter-spacing:-1px;line-height:29px;text-indent:3px;-webkit-appearance:none;-webkit-border-radius:0;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr{display:none;position:absolute;top:28px;left:-1px;width:100%;border:1px solid #0258c0;background:#fff;z-index:20;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .list{display:block;position:relative;height:29px;border-top:1px solid #e4e4e4;color:#4d4d4d;font-weight:normal;font-size:0.75em;letter-spacing:-1px;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr span:first-child{border-top:0;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr span:first-child a{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bg_scb_lyr.gif") repeat-x left top;background-size:1px 2px;-webkit-background-size:1px 2px;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .list a{display:block;height:20px;padding:9px 0 0 8px;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .list a em{color:#1179ea;font-style:normal;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .list a span{position:absolute;top:10px;right:8px;color:#888;font-size:0.8em;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .cls{display:block;height:24px;padding:5px 5px 0 0;border-top:1px solid #cfcfcf;background:#e9e9e9;text-align:right;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .cls button{display:inline-block;width:43px;height:19px;/*padding:4px 2px 0 0;*/border:1px solid #b3b3b3;color:#444;font-weight:normal;letter-spacing:-1px;cursor:pointer;background:#fcfcfc;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .cls button span:before {display:inline-block; content:''; width:10px; height:11px; margin-right:1px; background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns2.png") no-repeat left -24px;background-size:54px 32px;-webkit-background-size:54px 32px; vertical-align:middle;}
#hd_slim .scb_wrap .scb .scb_sub .scb_lyr .cls button span{display:inline-block;font-size:0.625em; vertical-align:3px;}
#hd_slim .scb_wrap .scb .del{display:block;position:absolute;top:3px;right:30px;width:22px;height:32px;text-indent:-9999px;cursor:pointer;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns_slim.png") no-repeat left top;background-size:190px 45px;-webkit-background-size:190px 45px;}
#hd_slim .scb_wrap .scb .sc{display:block;position:absolute;top:0;right:-1px;width:34px;height:40px;text-indent:-9999px;cursor:pointer;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns_slim.png") no-repeat -158px top;background-size:190px 45px;-webkit-background-size:190px 45px;}

#hd_slim .all{display:block;position:absolute;top:5px;right:6px;width:42px;height:40px;text-indent:-9999px;cursor:pointer;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns_slim.png") repeat-x -66px top;background-size:190px 45px;-webkit-background-size:190px 45px;}
#hd_slim > button.on{height:45px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns_slim.png") repeat-x -112px top;background-size:190px 45px;-webkit-background-size:190px 45px;}
#hd_slim .gnb{overflow:hidden;position:absolute;top:17px;right:3px;}
#hd_slim .gnb li{float:left;padding:0 3px 0 2px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_line_gnb.gif") no-repeat right 5px;background-size:1px 10px;-webkit-background-size:1px 10px;}
#hd_slim .gnb li a{display:block;padding:3px 5px 3px 5px;color:#010101;font-size:0.8em;letter-spacing:-1px;line-height:1.3em;}/*120823 폰트사이즈 수정*/
#hd_slim .gnb li:last-child{background:none;}
#hd_slim .gnb li:first-child a{padding:3px 5px 3px 4px;}
#hd_slim .gnb li:last-child a{padding:3px 3px 3px 4px;}
#hd_slim .all_lyr {margin-top:1px;}

.hd_go_cont{overflow:hidden;}
.hd_go_cont .svc_go{float:left;width:70%;}
.hd_go_cont .svc_go ul{overflow:hidden;}
.hd_go_cont .svc_go ul li{float:left;width:33.3%;height:63px;}
.hd_go_cont .svc_go ul li:nth-child(3n){width:33.4%}
.hd_go_cont .svc_go ul li a{display:block;position:relative;padding:8px 0 0 0;/*border-top:1px solid #fff;border-right:1px solid #b9b9b9;*/color:#4a4a4a;font-size:0.78em;font-weight:normal;text-align:center;letter-spacing:-1px;}
.hd_go_cont .svc_go ul .ico{display:block;}
.hd_go_cont .svc_go ul .ico img{width:31px;height:31px;}
.hd_go_cont .list_go{float:right;width:30%;min-height:182px;margin-left:-1px;padding:7px 0 0;border-left:1px solid #d8dadd;}
.hd_go_cont .list_go li{padding:0 0 6px 10px;}
.hd_go_cont .list_go li a{display:block;color:#4a4a4a;font-weight:normal;font-size:0.78em;letter-spacing:-1px;}
.hd_go_cont .list_go li a:before{content:'';display:inline-block;width:1px;height:1px;margin:0 5px 0 0;background:#777;vertical-align:4px;}

@media screen and (orientation: landscape){
.hd_go_cont .svc_go{float:none;width:100%;}
.hd_go_cont .svc_go ul{border:0;}
.hd_go_cont .svc_go ul li{width:10.7%;}
.hd_go_cont .svc_go ul li:first-child{width:11.4%}
.hd_go_cont .svc_go ul li:nth-child(3n){width:10.7%}
.hd_go_cont .svc_go ul li:nth-child(6n){width:12.2%}
.hd_go_cont .svc_go ul li:last-child{width:12.2%}
.hd_go_cont .list_go{overflow:hidden;float:none;width:100%;min-height:0;padding-bottom:9px;border-top:1px solid #d8dadd;}
.hd_go_cont .list_go li{float:left;width:98px;padding:0 0 0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing: border-box;}
}

.all_lyr{display:none;}
.all_lyr p{height:22px;padding:7px 0 0 11px;border-bottom:1px solid #c3c3c3;color:#07285c;font-size:0.96em;letter-spacing:-1px;background:#e9ebed;}
.all_lyr .ctgr{overflow:hidden;}
.all_lyr .ctgr li{float:left;width:35%;height:40px;}
.all_lyr .ctgr li:nth-child(2){width:30%;}

.all_lyr .ctgr_wrap .ctgr{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bg_header_ctgy_off.gif") repeat-x center bottom;}
.all_lyr .ctgr_wrap ul.off{background:none;}
.all_lyr .ctgr_wrap ul.on{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bg_header_ctgy_on.gif") repeat-x center bottom;}
.all_lyr .ctgr_wrap .ctgr li.on{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_arr4.png") no-repeat center bottom;background-size:11px 8px;-webkit-background-size:11px 8px;}
.all_lyr .ctgr_wrap .ctgr li a{display:block;position:relative;height:27px;padding:11px 0 0 0;color:#07285c;font-size:0.84em;font-weight:normal;letter-spacing:-2px;}
.all_lyr .ctgr_wrap .ctgr li a:before{content:"";display:inline-block;position:absolute;top:10px;background-size:166px 127px;-webkit-background-size:166px 127px;}

.all_lyr ul .ctgr1 a{text-indent:35px;}
.all_lyr ul .ctgr2 a{text-indent:33px;}
.all_lyr ul .ctgr3 a{text-indent:34px;}
.all_lyr ul .ctgr4 a{text-indent:35px;}
.all_lyr ul .ctgr5 a{text-indent:33px;}
.all_lyr ul .ctgr6 a{text-indent:34px;}
.all_lyr ul .ctgr7 a{text-indent:35px;}
.all_lyr ul .ctgr1 a:before{width:21px;height:22px;left:11px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat left -84px;}
.all_lyr ul .ctgr2 a:before{width:18px;height:22px;left:14px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat -22px -84px;}
.all_lyr ul .ctgr3 a:before{width:21px;height:22px;left:12px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat -41px -84px;}
.all_lyr ul .ctgr4 a:before{width:19px;height:22px;left:11px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat -62px -84px;}
.all_lyr ul .ctgr5 a:before{width:21px;height:22px;left:11px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat left -106px;}
.all_lyr ul .ctgr6 a:before{width:21px;height:22px;left:12px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat -22px -106px;}
.all_lyr ul .ctgr7 a:before{width:22px;height:22px;left:11px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/icons.png") no-repeat -43px -106px;}

.all_lyr .ctgr_sub{display:none;}
.all_lyr .ctgr_sub ul:after{content:'';display:block;clear:both;}
.all_lyr .ctgr_sub ul:last-child li{border-bottom:1px solid #cdd2df;}
.all_lyr .ctgr_sub ul li{width:50%;float:left;height:35px;background:#f0f2f7;}
.all_lyr .ctgr_sub ul li:last-child{width:50%;}
.all_lyr .ctgr_sub ul li a{display:block;height:27px;padding:8px 0 0 16px;color:#7c7e81;font-size:0.75em;font-weight:normal;letter-spacing:-1px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_dot1.png") no-repeat 10px 17px;background-size:2px 2px;-webkit-background-size:2px 2px;}
.all_lyr .ctgr_sub ul li a.notxt{background:none;}
.all_lyr .mjr_svc{border-top:1px solid #585f6a;border-bottom:1px solid #959595;}
#hd_slim .all_lyr .cls{display:none;height:25px;padding:3px 4px 0 0;text-align:right;}
#hd_slim .all_lyr .cls button{display:inline-block;width:44px;height:22px;padding:4px 1px 0 0;border:1px solid #d2d2d2;color:#595959;letter-spacing:-1px;cursor:pointer;background:#eaeaea;border-radius:2px;}
#hd_slim .all_lyr .cls button span{display:inline-block;width:30px;height:11px;font-size:0.7em;text-align:right;line-height:0.9em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/btns2.png") no-repeat left -24px;background-size:54px 32px;-webkit-background-size:54px 32px;}
/* //slim header */


#ft{background:#8c8c8c;}
#ft .ntc{position:relative;height:35px;border-top:1px solid #9a9fa6;background:#fff;}
#ft .ntc ul{overflow:hidden;height:24px;padding:11px 70px 0 9px;}
#ft .ntc ul li{overflow:hidden;height:24px;font-size:0.75em;font-weight:normal;letter-spacing:-1px;line-height:1.2em;text-overflow:ellipsis;white-space:nowrap;}
#ft .ntc ul li a{margin:0 0 0 9px;color:#555;}
#ft .ntc ul li span{color:#005dc6;}
#ft .ntc .ntc_more{display:block;position:absolute;top:0;right:0;width:50px;height:22px;padding:13px 10px 0 10px;color:#959595;font-size:0.78em;font-weight:normal;line-height:11px;letter-spacing:-1px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_arr1.png") no-repeat 47px 13px;background-size:6px 10px;-webkit-background-size:6px 10px;}

#ft .fnb{overflow:hidden;height:32px;border-top:2px solid #333;border-bottom:1px solid #333;background:#626262;}
#ft .fnb li{float:left;width:25%;}
#ft .fnb li a{display:block;height:22px;padding:10px 0 0 0;border-right:1px solid #4a4a4a;color:#fff;font-size:0.75em;text-align:center;letter-spacing:-1px;line-height:12px;vertical-align:top;}
#ft .fnb li:last-child a{border:0;}

#ft .addr{padding:8px 0 16px 8px;}
#ft .addr em{font-style:normal;font-weight:bold;}
#ft .addr address{color:#fff;font-style:normal;font-size:0.7em;font-weight:normal;letter-spacing:-1px;line-height:13px;}
#ft .addr address span{font-size:0.75em;}
#ft .addr p{padding:4px 0 0 0;color:#fff;font-size:0.7em;font-weight:normal;line-height:13px;}
#ft .addr .bsn{display:inline-block;width:78px;height:16px;margin:5px 0 0 0;padding:4px 0 0 7px;border:1px solid #5d5d5d;color:#fff;font-size:0.625em;font-weight:normal;letter-spacing:-1px;line-height:11px;background:#717171;box-shadow:0 1px 0 #878787;-webkit-box-shadow:0 1px 0 #878787;}
#ft .addr .bsn span{display:block;width:72px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_arr2.png") no-repeat right 1px;background-size:6px 9px;-webkit-background-size:6px 9px;}
#ft .addr .terms{display:inline-block;width:53px;height:16px;margin:5px 0 0 7px;padding:4px 0 0 7px;border:1px solid #5d5d5d;color:#fff;font-size:0.625em;font-weight:normal;letter-spacing:-1px;line-height:11px;background:#717171;box-shadow:0 1px 0 #878787;-webkit-box-shadow:0 1px 0 #878787;}
#ft .addr .terms span{display:block;width:46px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_arr2.png") no-repeat right 1px;background-size:6px 9px;-webkit-background-size:6px 9px;}
#ft .addr .copy{padding:3px 0 0 0;color:#fff;font-size:0.55em;font-weight:normal;line-height:17px;}
#ft .addr .btn_info {display:inline-block;height:16px;margin:5px 0 0 7px;padding:4px 5px 0 7px;border:1px solid #5d5d5d;color:#fff;font-size:0.625em;font-weight:normal;letter-spacing:-1px;line-height:11px;background:#717171;box-shadow:0 1px 0 #878787;-webkit-box-shadow:0 1px 0 #878787;}
#ft .addr .btn_info span{display:block; padding-right:10px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/shop/hf/bu_arr2.png") no-repeat right 1px;background-size:6px 9px;-webkit-background-size:6px 9px;}