@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        location.replace('@Request.QueryString["redirectUrl"]');    
    </script>
</head>
<body></body>
</html>
