@section Css
{
	<link href="@Urls.ScriptUrl/mobile/global/css/m_global.css" rel="stylesheet"/>
	<style type="text/css">
		p
		{
			font-weight:normal;
		}
	</style>
}


<div id="container">
	<div id="content">
		<div class="app_down">
			<div class="top_banner">
				<img src="@Urls.MobileImagePics/mobile.global/app_top_banner01.jpg" alt="Global G market" />
				<p>KOREA NO.1<BR>ONLINE<BR>MARKETPLACE</p>			</div>
			<div class="btn_box_wrp">
				<p class="noti">Global Gmarket app is now available on</p>
				<ul class="down_lst">
					<li><a href="javascript:doubleclickDBM('https://play.google.com/store/apps/details?id=com.ebay.global.gmarket');" class="sp_app_down app_btn1">Google Play</a></li>
					<li><a href="javascript:doubleclickDBM('https://itunes.apple.com/app/gmarket-global-eng-zhong-wen/id997183005');" class="sp_app_down app_btn2">App Store</a></li>
					<li><a href="javascript:doubleclickDBM('http://shouji.baidu.com/software/item?docid=7760559&from=as');" class="sp_app_down app_btn3">百度手机助手</a></li>
					<li><a href="javascript:doubleclickDBM('http://zhushou.360.cn/detail/index/soft_id/2987714?recrefer=SE_D_gmarket');" class="sp_app_down app_btn4">360手机助手</a></li>
					<li><a href="javascript:doubleclickDBM('http://app.qq.com/#id=detail&appid=1104657118');" class="sp_app_down app_btn5">应用宝</a></li>
					@*<li><a href="javascript:doubleclickDBM('http://www.wandoujia.com/apps/com.ebay.global.gmarket');" class="sp_app_down app_btn6">豌豆荚</a></li>*@
				</ul>
				<div class="and_more_box">
					<p class="noti" style="font-weight:normal">You can also download from</p>
					<a href="AppQR/OtherStores" class="app_btn7">
						<span style="font-size: 14px">and more!</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //container -->
<hr/>

@section scripts
{
<script type="text/javascript">
//<![CDATA[
	function doubleclickDBM(url) {
		var axel = Math.random() + "";
		var a = axel * 10000000000000;
		document.write('<img src="https://ad.doubleclick.net/ddm/activity/src=4815822;type=invmedia;cat=t2hfsdxc;ord=' + a + '?" width="1" height="1" alt=""/>');
		location.href = url;
	}
	/* ]]> */
</script>
}
