@section Css
{
	<link href="@Urls.ScriptUrl/mobile/global/css/m_global.css" rel="stylesheet"/>
	<style type="text/css">
		p
		{
			font-weight:normal;
		}
	</style>
}

<script type="text/javascript">
//<![CDATA[
	function doubleclickDBM(url) {
		var axel = Math.random() + "";
		var a = axel * 10000000000000;
		document.write('<img src="https://ad.doubleclick.net/ddm/activity/src=4815822;type=invmedia;cat=t2hfsdxc;ord=' + a + '?" width="1" height="1" alt=""/>');
		location.href = url;
	}
	/* ]]> */
</script>
<hr>
<!-- container -->
<div id="container">
	<div id="content">
		<div class="app_down">
			<div class="btn_box_wrp2">
				<p class="noti">Get Gmarket app from</p>
				<ul class="down_lst">
				<li><a href="javascript:doubleclickDBM('http://apk.91.com/Soft/Android/com.ebay.global.gmarket-1.html');" class="sp_app_down app_btn8">91助手</a></li>
				<li><a href="javascript:doubleclickDBM('http://m.apk.hiapk.com/detail/3672124');" class="sp_app_down app_btn9">安卓市场</a></li>
				<li><a href="javascript:doubleclickDBM('http://www.lenovomm.com/appdetail/com.ebay.global.gmarket/0');" class="sp_app_down app_btn10">乐商店</a></li>
				<li><a href="javascript:doubleclickDBM('http://wap.eoemarket.com/apps/show/id/723931');" class="sp_app_down app_btn11">优亿市场</a></li>
				<li><a href="javascript:doubleclickDBM('http://m.mopo.com/appstore!getAppDetails.action?appId=1747226');" class="sp_app_down app_btn12">冒泡市场</a></li>
				<li><a href="javascript:doubleclickDBM('http://www.mumayi.com/android-974082.html?1432713577');" class="sp_app_down app_btn13">木蚂蚁市场</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //container -->
<hr>

