@{
    ViewBag.Title = "카톡 맞춤서비스 인증";
    Layout = "~/Views/Shared/_KakaoTalkLayout.cshtml";
}

<div id="wrap">
	<h1>카카오톡 맞춤정보 일시중지 안내</h1>
	<p class="txt">카카오톡 맞춤정보 서비스인 플러스친구 메세지가 <br>제휴사의 사정으로 서비스가 중지되었습니다 <br>2016년 <strong>카카오톡 알림톡</strong>으로 새롭게 찾아 뵙겠습니다<br><br>*카카오톡 플러스친구로 진행되던 안내는 SMS로 발송됩니다.</p>
	<p class="noti">카카오톡 맞춤정보 중지 일시 : <strong>2015</strong>년 <strong>12</strong>월 <strong>28</strong>일</p>
</div>
