@{
    ViewBag.Title = "KakaoTalkApplyComplete";
    Layout = "~/Views/Shared/_KakaoTalkLayout.cshtml";
}
@model GMKT.GMobile.Web.Models.KakaoTalkApplyUserM
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnApplyComplete").click(function () {
            window.location = "@Urls.MobileWebUrl";
        });
    });
</script>

<!-- WRAPPER -->
<div id="wrapper">

	<!-- CONTENTS -->
	<div id="contents" class="cts">

		<!-- MAYPAGE -->
		<div class="mypage">

			<div class="mhgroup">
				<h3 class="tit_left">카카오톡 맞춤정보<span>(사용자 인증)</span></h3>
			</div>

			<div class="kakao">
				<h4>G마켓 회원 인증</h4>

				<div class="desc_wrap">
					<div class="desc">
						<p class="txt">카카오톡 맞춤정보 신청이<span>완료되었습니다.</span></p>
						<p class="txt2">이제 카카오톡으로도 G마켓의 다양한 서비스를 만나보세요.</p>
					</div>
				</div>
				
				<div class="btn2_grp">
					<ul class="single">
						<li><a href="#" class="btn_blue" id="btnApplyComplete"><span>확인</span></a></li>
					</ul>
				</div>
							
			</div>			

		</div>
		<!--// MAYPAGE -->
			
	</div>
	<!--// CONTENTS -->

</div>
<!--// WRAPPER -->