@model GMKT.GMobile.Web.Models.KakaoTalkApplyUserM

<script type="text/javascript">
    var KakaoTalkApplyUser = @Html.Raw(Json.Encode(Model));
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/KakaoTalk/KakaoTalkUseAgree.js?dummy=20130131163300")"></script>

<!-- WRAPPER -->
<div id="wrapper">

	<!-- CONTENTS -->
	<div id="contents" class="cts">

		<!-- MAYPAGE -->
		<div class="mypage">

			<div class="mhgroup">
				<h3 class="tit_left">카카오톡 맞춤정보<span>(사용자 인증)</span></h3>
			</div>

			<div class="kakao">
				<h4>G마켓 회원 인증</h4>
				
				<div class="agr_wrap">
                    <form id="frmUseAgree" action="#" method="post" >
						<fieldset>
							<div class="agr">
								<h5>카카오톡 맞춤정보 사용 동의</h5>
								<p>카카오톡 맞춤정보 서비스는 주문 및 배송관련 메시지를 다양한 혜택/이벤트 정보와 함께 SMS대신 카카오톡으로 발송 해 드리는 서비스 입니다.<br />동의 후 확인하시면, G마켓이 카카오톡 플러스 친구로 자동 추가됩니다.</p>
								<div class="ip_agr">
                                @Html.HiddenFor(m => m.AccessChannel)
                                @Html.CheckBoxFor(m => m.UseAgree, new { id = "chkboxUseAgree" })
                                <label for="order_agr">카카오톡 맞춤정보 사용 동의</label>
                                </div>
							</div>
							<div class="btn2_grp">
								<ul>
                                    <li><a class="btn_blue" id="btnUseAgree"><span>확인</span></a></li>
									<li><a class="btn_white" id="btnCancle"><span>취소</span></a></li>
								</ul>
							</div>
						</fieldset>
					</form>
				</div>				
			</div>			

		</div>
		<!--// MAYPAGE -->
			
	</div>
	<!--// CONTENTS -->

</div>
<!--// WRAPPER -->

