@{
    ViewBag.Title = "lstest";
}

<h2>lstest</h2>
 <script type="text/javascript">
	var NUMBER_OF_HISTORY = 3;

	if (window.localStorage) {
		var bizonHistory = JSON.parse(window.localStorage.getItem("GMKTBizOnHistory"));

		if (bizonHistory == null) {
			bizonHistory = [];
		}
		
		var thisHistory ={
			GdmcName: "자동차/오토바이용품",
			GdscName:"실내 공기청정/방향제",
			Url : "http://localmobile.gmarket.co.kr"
		};

//		var thisHistory ={
//			GdmcName: "가정용 상비/구급용품",
//			GdscName:"알콜솜/거즈/붕대/탈지면",
//			Url : "http://localmobile.gmarket.co.kr/BizOn"
//		};

//		var thisHistory ={
//			GdmcName: "기저귀/분유/용품",
//			GdscName:"분유수유용품",
//			Url : "http://localmobile.gmarket.co.kr/BizOn/Best"
//		};


		if (bizonHistory.length <= 0 || thisHistory.Url != bizonHistory[bizonHistory.length - 1].Url) {
			bizonHistory.push(thisHistory);
		}

		if (bizonHistory.length > NUMBER_OF_HISTORY) {
			var howMany = bizonHistory.length - NUMBER_OF_HISTORY;
			bizonHistory.splice(0, howMany);
		}

		window.localStorage.setItem("GMKTBizOnHistory", JSON.stringify(bizonHistory));
	}

	var hosts = "@ViewBag.Host";
</script>