@{
	Layout = null;
}

<!-- Todo by sue : V2 배포 이전에 외부에 게시된 배너 링크를 위해 남겨둠 -->
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>G마켓 앱을 설치하세요!</title>
	<style type="text/css">
		body
		{
			margin: 0;
		}
		img
		{
			display: block;
		}
	</style>
</head>
<body>
	<div id="wrap">
		<div class="im_gate">
			<a href="#" class="btn_gate" id="anchor">
				<img alt="" id="image" />
			</a>
		</div>
	</div>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/AppGateModule.js?v=20160318"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/AppGate.js?v=20160318"></script>
</body>
</html>
