@using GMKT.GMobile.Constant;

@{
    ViewBag.Title = "성인인증 안내페이지";

		string confirmUrl = Urls.AdultGoodsViewAgreeConfirm + "&goodscode="+ViewData["goodsNo"];
}

<script type="text/javascript">
	// 2013-04-10 이윤호
	// 스크립트 에러로 제거
	//$("#progress_icon").progressBar();
	//displayLayer("progress_icon", "block");

	window.onload = function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
	}
</script>

    <!-- CONTENTS -->
    <div id="contents" class="cts">

        <!-- ERROR -->
        <div class="at_error2">
            <div class="topcont">
                <p class="txt1"><img src="@Urls.MobileImageUrlV2/480/h3_error.gif" alt="놀라움을 쇼핑하다 GMARKET" /></p>
                <p class="txt2">G마켓 모바일 웹 쇼핑몰</p>
            </div>
            <div class="btmcont" style="padding-top:0px;">

                <p class="txt2" style="text-align:left;padding:20px 20px 0px 120px;min-height:80px;font-size:1em;color:#333;background:url(@{@Urls.MobileImageUrlV2}@{@Const.ADULT_IMAGE_120.Replace("images/", string.Empty)}) no-repeat;">이 성인용품 정보를 조회하시기 위해서는 아래 성인정보 제공에 동의해 주셔야 합니다.<br />동의하지 않으시면 G마켓 메인으로 이동합니다.</p>
                <p class="txt2" style="text-align:left;margin:20px;font-size:0.8em;">동의여부는 추후 웹버전 G마켓의 “나의 쇼핑정보 &gt; 나의 정보”에서 변경하실 수 있습니다.</p>

                <!-- BUTTONS  -->
                <div class="btn2_grp">
                    <ul>
                        <li><a href="@confirmUrl" class="btn_blue"><span style="font-size:1.1em;line-height:22px;padding:3px 0 4px 0;">성인정보 제공에<br />동의합니다</span></a></li>
                        <li><a href="/" class="btn_gray"><span style="font-size:1.1em;">동의하지 않습니다</span></a></li>
                    </ul>
                </div>

                <div class="spacer20"><!-- empty : height 20px --></div>

                <p class="txt2" style="font-size:1em;"><a href="tel:15665701">고객센터 : 1566-5701</a></p>

            </div>
        </div>
        <!-- //ERROR -->

    </div>
    <!--// CONTENTS -->
