@{
    ViewBag.Title = "아이핀인증";
	Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=480" />
		<script type="text/javascript">

			window.onload = function () {
				var myForm = document.form1;
				myForm.target = "frmIPinV2";
				myForm.submit();
			}
		</script>
	</head>
	<body>
		@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form1", id = "form1", action = ViewBag.IPinV2CertUrl }))
		{
			@Html.Hidden("m", "pubmain")
			@Html.Hidden("enc_data", (object)ViewBag.EncodeData)
		}
		<iframe id="frmIPinV2" name="frmIPinV2" style="width:100%; height:700px" src="javascript:false;"></iframe>
	</body>
</html>