@charset "euc-kr";

/* PIONNET Web Standardization Team (http://www.pionnet.co.kr/) PSH 20120817 */


/* 20120817 - ALLMILEAGE */
.evt_all{overflow:hidden;position:relative;width:480px;margin:0 auto;}
.evt_all .evt_pos{position:relative;}

.evt_all .evt_pos .btn_all1{position:absolute;top:3px;left:18px;}
.evt_all .evt_pos .btn_all2{position:absolute;top:3px;left:223px;}
.evt_all .evt_pos .btn_mile1{position:absolute;top:438px;left:18px;}
.evt_all .evt_pos .btn_mile2{position:absolute;top:438px;left:227px;}
.evt_all .evt_pos .btn_bnf{position:absolute;top:87px;left:69px;}
.evt_all .evt_pos .btn_id_pw{position:absolute;top:242px;left:216px;}
.evt_all .evt_pos .btn_tip1{position:absolute;top:94px;left:64px;}
.evt_all .evt_pos .btn_tip2{position:absolute;top:147px;left:64px;}
.evt_all .evt_pos .btn_tip3{position:absolute;top:217px;left:64px;}
.evt_all .evt_pos .name{position:absolute;top:25px;right:104px;width:115px;font-size:23px;line-height:27px;color:#9dff00;font-weight:bold;text-align:right;}
.evt_all .evt_pos .mile{position:absolute;top:98px;right:80px;width:140px;font-size:36px;line-height:40px;color:#9dff00;font-weight:bold;text-align:right;}
.evt_all .evt_pos .b_inquiry{position:absolute;top:10px;left:259px;}

.evt_all .evt_frm{overflow:hidden;position:relative;width:480px;height:303px;}
.evt_all .evt_frm .frm{position:absolute;top:0;left:0;}
.evt_all .evt_frm .scene{position:absolute;top:0;left:12px;}
.evt_all .evt_frm .start{display:block;position:absolute;top:93px;left:253px;width:200px;height:202px;}
.evt_all .evt_frm .juma{position:absolute;top:-20px;left:20px;width:210px;height:259px;}
.evt_all .evt_frm .cart{position:absolute;top:50px;left:182px;transform:rotate(-10deg);-mos-transform:rotate(-10deg);-webkit-transform:rotate(-10deg);}

.evt_all .pop_wrap{visibility:hidden;position:absolute;bottom:600px;left:21px;}
.evt_all .pop_wrap2{visibility:hidden;position:absolute;bottom:600px;left:10px;}
.evt_all .pop{position:relative;}
.evt_all .pop .cls{position:absolute;top:0;right:0;}


/* 20121012 */
.evt_wrap{position:relative;width:480px;margin:0 auto;}
.st_gmf .gmtab{overflow:hidden;width:465px;height:58px;padding-left:15px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/bg_tab.jpg') no-repeat;}
.st_gmf .gmtab li{float:left;}
.st_gmf .roulette{position:relative;width:480px;height:408px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/img4.jpg') no-repeat;}
.st_gmf .roulette .pin{position:absolute;top:9px;left:226px;}
.st_gmf .roulette .rout{position:absolute;top:21px;left:45px;}
.st_gmf .guide{width:480px;height:425px;padding:12px 0 0;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/img5.jpg') no-repeat;text-align:center}

.top10v{overflow:hidden;position:relative;width:395px;height:152px;margin-top:-1px;margin-bottom:-1px;padding:87px 0 0 83px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/img23.jpg') no-repeat;}
.top10v .lef{float:left;width:155px}
.top10v .rig{float:right;width:202px}
.top10v li{margin:0 0 12px;color:#313131;font-size:12px;letter-spacing:-1px;line-height:1.41em}
.top10v .time{position:absolute;width:480px;left:0;top:50px;color:#000;font-size:13px;text-align:center;}

.venue_sel{overflow:hidden;width:430px;height:311px;padding:57px 0 0 50px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/img24.png') no-repeat;font-size:0}
.venue_sel a{display:block;float:left;margin:0 12px 11px 0}

.gmfbox{background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/bg_m.png') repeat-y;}
.gmfbox .gmfw1{background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/bg_t.png') no-repeat;}
.gmfbox .gmfw2{min-height:500px;padding-bottom:48px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/bg_b.png') no-repeat 0 100%;}
.gmfbox .back{position:absolute;top:675px;left:353px}
.gmfbox h2{padding-left:27px;font-size:0;}
.gmfbox h3{margin:12px 0 0;text-align:center}
.gmfbox h4{padding:11px 0 0}
.gmfbox .list{overflow:hidden;padding:0 0 5px 48px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/line1.png') no-repeat center 133px;}
.gmfbox .list li{float:left;width:133px;margin:12px 0 0;padding-bottom:14px;}
.gmfbox .list.line2{background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/line2.png') no-repeat center 133px;}
.gmfbox .score{display:block;margin:3px 0 0 11px;font-size:15px;line-height:1.25em}
.gmfbox .score img{margin:0 5px 0 0;color:#221f1f;vertical-align:-2px}
.gmfbox .score2{display:block;margin:0 0 0 7px;font-size:13px;line-height:1.25em}
.gmfbox .score2 img{margin:0 5px 0 0;color:#221f1f;vertical-align:-3px}
.gmfbox .list_g{overflow:hidden;padding:0 0 15px 40px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/line3.png') no-repeat center 41px;}
.gmfbox .list_g .wp{float:left;width:208px;}
.gmfbox .list_g ul{overflow:hidden;}
.gmfbox .list_g li{float:left;width:98px;margin:8px 0 0;padding-bottom:9px;}

.star_ly{position:absolute;top:50%;left:124px;z-index:20;}
.star_ly .lybox{position:relative;width:231px;height:200px;background:url('http://image.gmarket.co.kr/Gmarket_Mobile_v2/event/20121011_GMF/bg_pop.png') no-repeat;}
.star_ly h2{display:none;}
.star_ly .star{display:block;padding:107px 0 0;font-size:0;text-align:center;}
.star_ly .star img{cursor:pointer}
.star_ly .btn{display:inline-block;position:absolute;top:151px;left:23px;}
.star_ly .clse{display:inline-block;position:absolute;top:15px;right:10px;}
.star_ly .name{position:absolute;top:65px;left:0;width:200px;padding:0 15px;color:#000;font-size:20px;letter-spacing:-1px;line-height:1em;text-align:center;}