@charset "euc-kr";

.ctns .mkt h3{height:43px;padding:17px 0 0 0;color:#383838;font-size:1.45em;text-align:center;letter-spacing:-2px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_mkt_tit.gif") repeat-x left top;background-size:1px 60px;-webkit-background-size:1px 60px;}

/* marketing common */
.ctns .mkt .mkt_all_wrap{margin:0 0 -40px 0;padding:38px 0 0 0;}
.ctns .mkt .mkt_all_wrap .mkt_all p{display:inline-block;margin:0 3px 0 0;padding:3px 0 11px 12px;color:#4b4b4b;font-size:1.25em;letter-spacing:-2px;}
.ctns .mkt .mkt_all_wrap .mkt_all p .all1{font-weight:normal;}
.ctns .mkt .mkt_all_wrap .mkt_all .all2{display:inline-block;width:89px;height:27px;border:1px solid #cecece;color:#666;font-size:1.05em;font-weight:normal;text-align:center;letter-spacing:-1px;line-height:1.7em;box-shadow:0 2px 1px #f2f2f2;-webkit-box-shadow:0 2px 1px #f2f2f2;}
.ctns .mkt .mkt_all_wrap .mkt_all .all2:after{content:"";display:inline-block;width:9px;height:14px;margin:-4px 0 0 6px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr2.png") no-repeat left top;background-size:9px 14px;-webkit-background-size:9px 14px;}
.ctns .mkt .mkt_all_wrap ul{overflow:hidden;height:103px;border-top:1px solid #7c7c7c;background:#f2f2f2;}
.ctns .mkt .mkt_all_wrap ul li{float:left;width:20%;height:103px;text-align:center;}
.ctns .mkt .mkt_all_wrap ul li a{display:block;height:90px;padding:13px 0 0 0;border-left:1px solid #fff;border-right:1px solid #dddee0;color:#555;font-size:1.05em;letter-spacing:-2px;}
.ctns .mkt .mkt_all_wrap ul li:first-child a{border-left:0;}
.ctns .mkt .mkt_all_wrap ul li:last-child a{border-right:0;}
.ctns .mkt .mkt_all_wrap ul .mkt_nav1 a:before{content:"";display:block;width:94px;height:61px;margin:0 auto;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/img_evt_all.png") no-repeat left top;background-size:471px 61px;-webkit-background-size:471px 61px;}
.ctns .mkt .mkt_all_wrap ul .mkt_nav2 a:before{content:"";display:block;width:94px;height:61px;margin:0 auto;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/img_evt_all.png") no-repeat -94px top;background-size:471px 61px;-webkit-background-size:471px 61px;}
.ctns .mkt .mkt_all_wrap ul .mkt_nav3 a:before{content:"";display:block;width:94px;height:61px;margin:0 auto;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/img_evt_all.png") no-repeat -188px top;background-size:471px 61px;-webkit-background-size:471px 61px;}
.ctns .mkt .mkt_all_wrap ul .mkt_nav4 a:before{content:"";display:block;width:94px;height:61px;margin:0 auto;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/img_evt_all.png") no-repeat -282px top;background-size:471px 61px;-webkit-background-size:471px 61px;}
.ctns .mkt .mkt_all_wrap ul .mkt_nav5 a:before{content:"";display:block;width:94px;height:61px;margin:0 auto;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/img_evt_all.png") no-repeat -376px top;background-size:471px 61px;-webkit-background-size:471px 61px;}

/* pluszone */
.ctns .mkt .pzone{background:#f0f9ff;}
.ctns .mkt .pzone .rltt_wrap{width:480px;margin:0 auto;padding:25px 0 0 0;}
.ctns .mkt .pzone .rltt_wrap .rltt_tit{padding:0 0 55px 0;font-size:1.8em;font-weight:normal;letter-spacing:-2px;line-height:1.3em;text-align:center;}
.ctns .mkt .pzone .rltt_wrap .rltt_tit .ben{display:block;color:#61ad2f;font-size:1.4em;font-weight:bold;}
.ctns .mkt .pzone .rltt_wrap .rltt_tit .ben span{color:#107aea;}
.ctns .mkt .pzone .rltt_wrap .rltt{position:relative;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_txt{position:absolute;top:-10px;left:30px;width:100px;height:73px;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_dice{position:absolute;top:0;right:40px;width:65px;height:77px;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_img{width:340px;height:340px;margin:0 0 30px 70px;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_pin{position:absolute;top:-15px;left:225px;width:27px;height:56px;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_start{position:absolute;top:114px;left:185px;}
.ctns .mkt .pzone .rltt_wrap .rltt .rltt_start img{width:111px;height:112px;}

.ctns .mkt .pzone .atnd_wrap{border-top:1px solid #abcee5;border-bottom:1px solid #abcee5;background:#e0f3ff;}
.ctns .mkt .pzone .atnd_wrap .atnd{position:relative;width:480px;margin:0 auto;padding:15px 0 0 0;}
.ctns .mkt .pzone .atnd_wrap .atnd .today{position:absolute;top:10px;left:15px;color:#72B645;font-size:0.95em;line-height:1.2em;letter-spacing:-1px;}
.ctns .mkt .pzone .atnd_wrap .atnd .today span{display:block;color:#666;font-size:1.3em;font-weight:normal;}
.ctns .mkt .pzone .atnd_wrap .atnd .date{position:absolute;top:60px;left:15px;width:135px;height:121px;padding:15px 0 0 0;color:#98989f;text-align:center;letter-spacing:-2px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_pzone_date.png") no-repeat left top;background-size:135px 136px;-webkit-background-size:135px 136px;}
.ctns .mkt .pzone .atnd_wrap .atnd .date span{color:#73b846;font-size:4em;font-weight:normal;text-align:right;letter-spacing:-2px;line-height:1em;}
.ctns .mkt .pzone .atnd_wrap .atnd table{width:294px;height:180px;margin:0 0 10px 170px;}
.ctns .mkt .pzone .atnd_wrap .atnd table th{width:42px;color:#5E8096;font-size:1.4em;}
.ctns .mkt .pzone .atnd_wrap .atnd table td{height:33px;color:#5E8096;font-size:1.4em;font-weight:normal;text-align:center;}
.ctns .mkt .pzone .atnd_wrap .atnd table td p{position:relative;}
.ctns .mkt .pzone .atnd_wrap .atnd table td p img{position:absolute;top:-3px;left:4px;width:32px;height:32px;}

.ctns .mkt .pzone .ent_wrap{padding:35px 15px 36px 15px;background:#fff;}
.ctns .mkt .pzone .ent_wrap p{padding:0 0 25px 0;font-size:1.4em;text-align:center;letter-spacing:-2px;line-height:1.4em;}
.ctns .mkt .pzone .ent_wrap p .ent{display:block;color:#0a65c6;font-size:1.5em;}
.ctns .mkt .pzone .ent_wrap p .ent span{font-weight:normal;}
/*
.ctns .mkt .pzone .ent_wrap .prod{position:relative;border:5px solid #b1d6f0;text-align:center;}
.ctns .mkt .pzone .ent_wrap .prod .irt_wrap{width:353px;margin:0 auto;}*/
.ctns .mkt .pzone .ent_wrap .prod ul li{float:left;width:353px;}
.ctns .mkt .pzone .ent_wrap .prod ul li img{width:353px;height:126px;}
/* 추후 플리킹적용시*/
.ctns .mkt .pzone .ent_wrap .prod{position:relative;width:100%;height:126px;border:5px solid #b1d6f0;text-align:center;}
.ctns .mkt .pzone .ent_wrap .prod .bn_grp{width:353px;height:126px;margin:0 auto;}
.ctns .mkt .pzone .ent_wrap .prod ul li{float:left;width:353px;}
.ctns .mkt .pzone .ent_wrap .prod div span img{width:353px;height:126px;}
/**/
.ctns .mkt .pzone .ent_wrap .prod .prev{position:absolute;top:0;left:0;width:45px;height:80px;padding:46px 0 0 0;}
.ctns .mkt .pzone .ent_wrap .prod .prev span{display:inline-block;width:20px;height:36px;text-indent:-1000em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -60px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .pzone .ent_wrap .prod .next{position:absolute;top:0;right:0;width:45px;height:80px;padding:46px 0 0 0;}
.ctns .mkt .pzone .ent_wrap .prod .next span{display:inline-block;width:20px;height:36px;text-indent:-1000em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -41px top;background-size:81px 48px;-webkit-background-size:81px 48px;}

.ctns .mkt .pzone .info{padding:15px;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background:#fff;}
.ctns .mkt .pzone .info p{color:#0a65c6;font-size:1.3em;letter-spacing:-1px;}
.ctns .mkt .pzone .info p span{font-weight:normal;}
.ctns .mkt .pzone .info ul{padding:2px 0 0 0;}
.ctns .mkt .pzone .info ul li{padding:5px 0 0 10px;color:#666;letter-spacing:-1px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot1.png") no-repeat left 14px;background-size:3px 3px;-webkit-background-size:3px 3px;}
.ctns .mkt .pzone .info ul li span{font-weight:normal;}
.ctns .mkt .pzone .info ul li .txt{display:block;padding:0 0 0 65px;}
.ctns .mkt .pzone .info ul li .txt2{display:block;padding:0 0 0 95px;}

/* vip */
.ctns .mkt .vip .mon_wrap{background:#eff8e6;border-top:1px solid #d6ebc2;border-bottom:1px solid #d6ebc2;}
.ctns .mkt .vip .mon{width:440px;margin:0 auto;padding:15px 20px 0 20px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_tit2.png") no-repeat right 32px;background-size:126px 68px;-webkit-background-size:126px 68px;}
.ctns .mkt .vip .mon .txt{color:#363636;font-size:1.5em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:1.3em;}
.ctns .mkt .vip .mon .txt em{display:block;padding:0 55px 0 0;color:#5d9930;font-size:1.5em;font-weight:bold;font-style:normal;}
.ctns .mkt .vip .mon .prd{width:230px;height:26px;margin:13px auto 0 auto;border:1px solid #5d9930;color:#fff;font-size:0.95em;font-weight:normal;text-align:center;letter-spacing:-1px;line-height:26px;background:#73ac49;}
.ctns .mkt .vip .mon ul{padding:5px 0 20px 0;}
.ctns .mkt .vip .mon ul li{margin:15px 0 0 0;border:1px solid #5d9930;}
.ctns .mkt .vip .mon ul li img{width:436px;height:194px;}

.ctns .mkt .vip .pur_wrap{padding:0 0 30px 0;background:#f0f9ff;border-bottom:1px solid #d4dfe8;}
.ctns .mkt .vip .pur_wrap .pur{width:456px;margin:0 auto;padding:30px 12px 0 12px;}
.ctns .mkt .vip .pur_wrap .pur .txt{color:#363636;font-size:1.5em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:1.3em;}
.ctns .mkt .vip .pur_wrap .pur .txt em{display:block;color:#025fac;font-size:1.5em;font-weight:bold;font-style:normal;}
.ctns .mkt .vip .pur_wrap .pur .prd{width:238px;height:26px;margin:13px auto 0 auto;border:1px solid #2b84cd;color:#fff;font-size:0.95em;font-weight:normal;text-align:center;letter-spacing:-1px;line-height:26px;background:#469ce3;}
.ctns .mkt .vip .pur_wrap .pur .now{position:relative;margin:20px 0 0 0;padding:10px 0 10px 0;border:1px solid #cbcbcb;background:#fff;}
.ctns .mkt .vip .pur_wrap .pur .now .conf1{padding:5px 0 4px 13px;color:#666;font-weight:normal;letter-spacing:-2px;line-height:1.125em;}
.ctns .mkt .vip .pur_wrap .pur .now .conf1 span{font-weight:bold;}
.ctns .mkt .vip .pur_wrap .pur .now .conf2{position:absolute;top:17px;right:14px;width:149px;height:30px;border:1px solid #d0d0d0;color:#666;text-align:center;letter-spacing:-1px;line-height:32px;background:#f7f7f7;}
.ctns .mkt .vip .pur_wrap .pur .now .conf2:after{content:"";display:inline-block;width:10px;height:16px;margin:-3px 0 0 8px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:10px 16px;-webkit-background-size:10px 16px;}
.ctns .mkt .vip .pur_wrap .pur .now .user{padding:0 0 10px 13px;border-bottom:1px solid #c9c9c9;color:#555;font-size:1.25em;letter-spacing:-2px;}
.ctns .mkt .vip .pur_wrap .pur .now .user em{color:#4fa219;font-style:normal;}
.ctns .mkt .vip .pur_wrap .pur .now ul{overflow:hidden;padding:10px 0 0 0;}
.ctns .mkt .vip .pur_wrap .pur .now ul li{float:left;width:208px;margin:0 0 0 13px;padding:0 0 0 6px;color:#757575;font-size:1.125em;letter-spacing:-2px;font-weight:normal;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot1.png") no-repeat left 9px;background-size:3px 3px;-webkit-background-size:3px 3px;}
.ctns .mkt .vip .pur_wrap .pur .now ul li span{color:#4fa219;font-weight:bold;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap{padding:20px 0 0 0;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .txt2{padding:0 0 7px 0;color:#555;font-size:1.2em;text-align:center;letter-spacing:-2px;line-height:1.05em;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .txt2 span{display:block;font-weight:normal;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent{position:relative;margin:13px 0 0 0;border:2px solid #a9c9e2;background:#fff;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent p{height:39px;padding:13px 0 0 10px;border-bottom:1px solid #a9c0e2;color:#325471;font-size:1.5em;letter-spacing:-2px;background:#f4f4f4;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent p span{font-weight:normal;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent .bn_grp{width:368px;height:156px;margin:0 auto;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent img{width:368px;height:156px;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent ul{overflow:hidden;width:368px;height:156px;margin:0 auto;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent ul li{float:left;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .ent ul li a{display:block;height:156px;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .prev{position:absolute;top:53px;left:0;width:45px;height:93px;padding:63px 0 0 0;text-align:center;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .prev span{display:inline-block;width:20px;height:36px;text-indent:-1000em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -60px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .next{position:absolute;top:53px;right:0;width:45px;height:93px;padding:63px 0 0 0;text-align:center;}
.ctns .mkt .vip .pur_wrap .pur .ent_wrap .next span{display:inline-block;width:20px;height:36px;text-indent:-1000em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -41px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .vip .pur_wrap .pur .notice{padding:15px 0 0 0;letter-spacing:-1px;}
.ctns .mkt .vip .pur_wrap .pur .notice p{color:#025fac;font-size:1.25em;}
.ctns .mkt .vip .pur_wrap .pur .notice p span{font-weight:normal;}
.ctns .mkt .vip .pur_wrap .pur .notice ul li{padding:7px 0 0 7px;color:#666;font-size:1.05em;font-weight:normal;line-height:1.2em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot1.png") no-repeat left 17px;background-size:3px 3px;-webkit-background-size:3px 3px;}

.ctns .mkt .vip .ask_wrap{position:relative;width:440px;height:100px;margin:14px auto 0 auto;padding:13px 0 0 14px;border:1px solid #cbcbcb;letter-spacing:-1px;background:#f1f3f8 url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ask.gif") no-repeat right top;background-size:138px 112px;-webkit-background-size:138px 112px;}
.ctns .mkt .vip .ask_wrap .txt1{color:#424246;font-size:1.4em;}
.ctns .mkt .vip .ask_wrap .txt1 span{color:#ff5400;}
.ctns .mkt .vip .ask_wrap .txt2{padding:10px 0 0 0;font-size:1.05em;font-weight:normal;}
.ctns .mkt .vip .ask_wrap .ask{position:absolute;bottom:18px;right:80px;display:block;width:107px;height:26px;padding:6px 0 0 0;border:1px solid #2b58a1;color:#fff;font-size:1.125em;text-align:center;letter-spacing:-1px;line-height:1.125em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ent.gif") repeat-x left top;background-size:1px 47px;-webkit-background-size:1px 47px;}

.ctns .mkt .vip .memb_wrap{margin:30px 0 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_memb.gif") repeat-x left top;background-size:1px 48px;-webkit-background-size:1px 48px;}
.ctns .mkt .vip .memb_wrap .memb{width:480px;margin:0 auto;}
.ctns .mkt .vip .memb_wrap .memb .info{display:block;}
.ctns .mkt .vip .memb_wrap .memb .info img{width:480px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap{overflow:hidden;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap a{float:left;height:106px;padding:13px 0 0 0;border-left:1px solid #ebeced;border-bottom:1px solid #c8cbce;color:#98a0a6;font-size:0.8em;text-align:center;letter-spacing:-1px;line-height:1.2em;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben1{width:120px;border-left:0;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben1:after{content:"";display:inline-block;width:61px;height:57px;margin:10px 0 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ben.gif") no-repeat left top;background-size:123px 113px;-webkit-background-size:123px 113px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben2{width:119px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben2:after{content:"";display:inline-block;width:62px;height:57px;margin:10px 0 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ben.gif") no-repeat -61px top;background-size:123px 113px;-webkit-background-size:123px 113px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben3{width:240px;height:119px;padding:0;border-left:0;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben3 .cult{display:block;float:left;width:119px;height:106px;padding:13px 0 0 0;border-left:1px solid #ebeced;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben3 .cult:after{content:"";display:inline-block;width:61px;height:56px;margin:10px 0 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ben.gif") no-repeat left -57px;background-size:123px 113px;-webkit-background-size:123px 113px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben3 .auct{display:block;float:left;width:119px;height:106px;padding:13px 0 0 0;border-left:1px solid #ebeced;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap .ben3 .auct:after{content:"";display:inline-block;width:62px;height:56px;margin:10px 0 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_ben.gif") no-repeat -61px -57px;background-size:123px 113px;-webkit-background-size:123px 113px;}
.ctns .mkt .vip .memb_wrap .memb .ben_wrap a span span{display:block;color:#51565a;font-size:1.25em;}
.ctns .mkt .vip .memb_wrap .memb p{padding:5px 0 0 0;color:#666;font-weight:normal;letter-spacing:-1px;}

/* RANK */
.ctns .mkt .rank .user_wrap{height:195px;border-bottom:1px solid #b9b9b9;background:#f7f7f7;}
.ctns .mkt .rank .user_wrap .uw{overflow:hidden;position:relative;display:block;width:480px;margin:0 auto;font-weight:normal;letter-spacing:-1px;}
.ctns .mkt .rank .user_wrap .uw .txt{height:121px;padding:23px 0 0 27px;color:#666;font-size:1.125em;font-weight:normal;line-height:1.125em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_rank.png") no-repeat right bottom;background-size:201px 79px;-webkit-background-size:201px 79px;}
.ctns .mkt .rank .user_wrap .uw .txt span{font-weight:bold;}
.ctns .mkt .rank .user_wrap .uw .my{display:block;position:absolute;bottom:21px;left:27px;width:179px;height:36px;border:1px solid #ccc;font-size:1.05em;text-align:center;letter-spacing:-2px;line-height:2.2em;background:#fff;box-shadow:0 2px 1px #ececec;-webkit-box-shadow:0 2px 1px #ececec;}
.ctns .mkt .rank .user_wrap .uw .my:after{content:"";display:inline-block;width:10px;height:16px;margin:-2px 0 0 7px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:9px 14px;-webkit-background-size:9px 14px;}
.ctns .mkt .rank .user_wrap .uw .this_mon_grp{position:relative;float:left;width:231px;height:120px;padding:25px 0 0 15px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr7.png") no-repeat right 55px;background-size:42px 31px;-webkit-background-size:42px 31px;}
.ctns .mkt .rank .user_wrap .uw .this_mon_grp .lv1{padding:0 0 0 19px;}
.ctns .mkt .rank .user_wrap .uw .this_mon_grp .lv1 img{width:124px;height:50px;}
.ctns .mkt .rank .user_wrap .uw .this_mon_grp .this_mon{display:block;position:absolute;bottom:22px;left:18px;width:160px;height:36px;border:1px solid #ccc;font-size:1.05em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:2.2em;background:#fff;box-shadow:0 2px 1px #ececec;-webkit-box-shadow:0 2px 1px #ececec;}
.ctns .mkt .rank .user_wrap .uw .this_mon_grp .this_mon:after{content:"";display:inline-block;width:10px;height:16px;margin:-2px 0 0 7px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:9px 14px;-webkit-background-size:9px 14px;}
.ctns .mkt .rank .user_wrap .uw .next_mon_grp{float:left;width:209px;padding:20px 0 0 25px;}
.ctns .mkt .rank .user_wrap .uw .next_mon_grp .lv2 img{width:97px;height:39px;}
.ctns .mkt .rank .user_wrap .uw .next_mon_grp .next_mon{padding:7px 0 0 0;color:#7a7a7a;font-size:1.05em;font-weight:normal;line-height:1.1em;}
.ctns .mkt .rank .user_wrap .uw .next_mon_grp .next_mon span{color:#0b53c9;font-weight:bold;}

.ctns .mkt .rank .user_wrap .user{height:35px;padding:15px 0 0 0;border-bottom:1px solid #959595;font-size:1.3em;letter-spacing:-1px;background:#fff;}
.ctns .mkt .rank .user_wrap .user .uw{width:467px;padding:0 0 0 13px;}
.ctns .mkt .rank .user_wrap .user .uw span{font-weight:bold;}
.ctns .mkt .rank .user_wrap .user .uw .info{color:#66b141;}
.ctns .mkt .rank .user_wrap .user .uw .info2{color:#66b141;font-weight:normal;}

.ctns .mkt .rank h4{padding:30px 0 15px 0;font-size:2.1em;font-weight:normal;text-align:center;letter-spacing:-2px;}
.ctns .mkt .rank em{font-weight:bold;font-style:normal;}

.ctns .mkt .rank .rank_ben{margin:0 0 30px 0;}
.ctns .mkt .rank .rank_ben .lv{height:43px;padding:9px 0 4px 0;border-bottom:1px solid #dfdfdf;background:#fff;}
.ctns .mkt .rank .rank_ben .lv div{width:468px;margin:0 auto;padding:0 0 0 12px;}
.ctns .mkt .rank .rank_ben .lv img{width:97px;height:39px;}
.ctns .mkt .rank .rank_ben .cpn_wrap{border-bottom:1px solid #d7d7d7;}
.ctns .mkt .rank .rank_ben ul{overflow:hidden;width:480px;margin:0 auto;}
.ctns .mkt .rank .rank_ben ul li{float:left;width:240px;height:180px;text-align:center;}
.ctns .mkt .rank .rank_ben ul li:nth-child(odd){width:239px;border-right:1px solid #d7d7d7;}
.ctns .mkt .rank .rank_ben ul li span{display:block;padding:12px 0 10px 0;font-size:1.125em;font-weight:normal;letter-spacing:-1px;}
.ctns .mkt .rank .rank_ben ul li img{width:174px;height:70px;}
.ctns .mkt .rank .rank_ben ul li .cpn{width:200px;height:70px;}
.ctns .mkt .rank .rank_ben ul li a{display:block;width:138px;height:37px;margin:11px auto 17px auto;font-size:1.2em;line-height:38px;letter-spacing:-1px;background:#5e5e5e;text-shadow:1px 1px 1px #454545;}
.ctns .mkt .rank .rank_ben ul li a.down1{color:#d2d2d2;}
.ctns .mkt .rank .rank_ben ul li a.down2{color:#a6ec72;}

.ctns .mkt .rank .svip{background:#f1f7ff;}
.ctns .mkt .rank .vip{background:#f3ffeb;}
.ctns .mkt .rank .gold{background:#fff9eb;}
.ctns .mkt .rank .silver{background:#f0f0f0;}
.ctns .mkt .rank .svip .lv{border-top:2px solid #2751a4;}
.ctns .mkt .rank .vip .lv{border-top:2px solid #589541;}
.ctns .mkt .rank .gold .lv{border-top:2px solid #dd8927;}
.ctns .mkt .rank .silver .lv{border-top:2px solid #767677;}
.ctns .mkt .rank .svip ul li.first{overflow:hidden;width:480px;border-right:0;}
.ctns .mkt .rank .svip ul li.first .cpn1{float:left;width:240px;}
.ctns .mkt .rank .svip ul li.first .cpn2{float:right;width:240px;}

.ctns .mkt .rank .mem_ben_wrap{margin:0 0 30px 0;border-top:2px solid #1a93c1;border-bottom:1px solid #dfdfdf;background:#f5fdff;}
.ctns .mkt .rank .mem_ben_wrap .mem_ben{width:480px;margin:0 auto;}
.ctns .mkt .rank .mem_ben_wrap p{height:37px;padding:15px 0 0 0;border-bottom:1px solid #dfdfdf;color:#1a93c1;font-size:1.4em;letter-spacing:-2px;background:#fff;}
.ctns .mkt .rank .mem_ben_wrap p span{display:block;width:468px;margin:0 auto;padding:0 0 0 12px;}
.ctns .mkt .rank .mem_ben img{width:480px;}
.ctns .mkt .rank .stdr_wrap{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_vip_memb.gif") repeat-x left top;background-size:1px 48px;-webkit-background-size:1px 48px;}
.ctns .mkt .rank .stdr{width:480px;margin:0 auto;}
.ctns .mkt .rank .stdr img{width:480px;}

.ctns .mkt .rank .notice_wrap{margin:25px 0 0 0;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;}
.ctns .mkt .rank .notice_wrap .notice{width:448px;margin:0 auto;padding:15px 16px 20px 16px;letter-spacing:-1px;}
.ctns .mkt .rank .notice_wrap .notice p{color:#33962c;font-size:1.25em;font-weight:normal;}
.ctns .mkt .rank .notice_wrap .notice ul li{padding:5px 0 0 7px;font-size:1.05em;font-weight:normal;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot1.png") no-repeat left 17px;background-size:3px 3px;-webkit-background-size:3px 3px;}
.ctns .mkt .rank .notice_wrap .notice ul li.txt{color:#0c66c6;}
.ctns .mkt .rank .notice_wrap .notice ul li ul li{padding:2px 0 0 0;font-size:0.875em;background:none;}

/* stamp */
.ctns .mkt .stamp .tab_stamp{overflow:hidden;height:53px;padding:7px 9px 0 9px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_today_menu.gif") repeat-x left top;background-size:1px 60px;-webkit-background-size:1px 60px;}
.ctns .mkt .stamp .tab_stamp li{float:left;width:50%;}
.ctns .mkt .stamp .tab_stamp li a{display:block;height:43px;padding:10px 0 0 0;color:#555;font-size:1.5em;font-weight:normal;text-align:center;letter-spacing:-2px;}
.ctns .mkt .stamp .tab_stamp li.on a{height:39px;padding:14px 0 0 0;border-top:1px solid #9d9d9d;border-left:1px solid #9d9d9d;border-right:1px solid #9d9d9d;color:#383838;font-weight:bold;background:#fff;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}

.ctns .mkt .stamp .tit{padding:35px 0 30px 0;color:#107aea;font-size:1.75em;font-weight:normal;text-align:center;letter-spacing:-2px;}
.ctns .mkt .stamp .tit span{display:block;color:#333;font-size:1.4em;font-weight:bold;}

.ctns .mkt .stamp .my_wrap{position:relative;width:395px;height:68px;margin:0 auto;padding:43px 0 0 55px;border:3px solid #e5e5e5;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_gstamp.gif") no-repeat right top;background-size:163px 111px;-webkit-background-size:163px 111px;}
.ctns .mkt .stamp .my_wrap .my{color:#555;font-size:1.45em;letter-spacing:-2px;}
.ctns .mkt .stamp .my_wrap .my span{color:#33952c;}
.ctns .mkt .stamp .my_wrap .num{position:absolute;top:41px;right:92px;color:#33952c;font-size:1.4em;text-align:right;}
.ctns .mkt .stamp .my_wrap .num span{color:#555;font-size:0.625em;}

.ctns .mkt .stamp .stm{margin:28px 0 0 0;border-top:1px solid #c8cbce;}
.ctns .mkt .stamp .stm .tit2{height:34px;padding:11px 0 0 0;border-top:1px solid #fff;border-bottom:1px solid #959595;font-size:1.25em;font-weight:normal;letter-spacing:-1px;background:#f7f7f7;}
.ctns .mkt .stamp .stm .tit2 span{display:block;width:480px;margin:0 auto;padding:0 0 0 12px;}

.ctns .mkt .stamp .exch_wrap .cpn_wrap{border-bottom:1px solid #c8cbce;}
.ctns .mkt .stamp .exch_wrap ul{overflow:hidden;width:480px;margin:0 auto;}
.ctns .mkt .stamp .exch_wrap ul li{float:left;width:240px;padding:20px 0;text-align:center;}
.ctns .mkt .stamp .exch_wrap ul li:nth-child(even){width:239px;border-left:1px solid #c8cbce;}
.ctns .mkt .stamp .exch_wrap ul li img{width:174px;height:70px;}
.ctns .mkt .stamp .exch_wrap ul li span{display:block;letter-spacing:-1px;}
.ctns .mkt .stamp .exch_wrap ul li .txt1{padding:3px 0 0 0;color:#555;font-size:1.05em;}
.ctns .mkt .stamp .exch_wrap ul li .txt1 .num{display:inline;color:#33952c;}
.ctns .mkt .stamp .exch_wrap ul li .txt2{color:#777;font-size:0.875em;font-weight:normal;}
.ctns .mkt .stamp .exch_wrap ul li .exch{display:block;width:137px;height:35px;margin:7px auto 0 auto;border:1px solid #70a84c;color:#fff;font-size:1.2em;line-height:35px;letter-spacing:-1px;background:#7dbd53;text-shadow:1px 1px 1px #67a440;}
.ctns .mkt .stamp .exch_wrap ul li .end{display:block;width:137px;height:35px;margin:7px auto 0 auto;border:1px solid #5b5b5b;color:#d2d2d2;font-size:1.2em;line-height:35px;letter-spacing:-1px;background:#5e5e5e;text-shadow:1px 1px 1px #454545;}

.ctns .mkt .stamp .ent_wrap{margin:28px 0 7px 0;border-bottom:1px solid #c8cbce;}
.ctns .mkt .stamp .ent_wrap .ent{position:relative;width:480px;margin:0 auto;}
.ctns .mkt .stamp .ent_wrap .bn_grp{height:122px;text-align:center;}
.ctns .mkt .stamp .ent_wrap .bn_grp img{width:327px;height:122px;}
.ctns .mkt .stamp .ent_wrap ul{overflow:hidden;height:122px;}
.ctns .mkt .stamp .ent_wrap ul li{float:left;width:450px;text-align:center;}
.ctns .mkt .stamp .ent_wrap .prev{position:absolute;top:0;left:0;width:45px;height:75px;padding:47px 0 0 0;text-align:center;}
.ctns .mkt .stamp .ent_wrap .prev span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -60px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .stamp .ent_wrap .next{position:absolute;top:0;right:0;width:45px;height:75px;padding:47px 0 0 0;text-align:center;}
.ctns .mkt .stamp .ent_wrap .next span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -41px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .stamp .bn_index{margin:0 0 0 0;text-align:center;}
.ctns .mkt .stamp .bn_index p.selected{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_cir.png") no-repeat -12px top;background-size:24px 12px;-webkit-background-size:24px 12px;}
.ctns .mkt .stamp .bn_index p{display:inline-block;width:12px;height:12px;margin:0 2px 0 0;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_cir.png") no-repeat left top;background-size:24px 12px;-webkit-background-size:24px 12px;}

.ctns .mkt .stamp .snack_wrap{border-bottom:1px solid #c8cbce;}
.ctns .mkt .stamp .snack_wrap .snack{position:relative;width:480px;height:286px;margin:0 auto;}
.ctns .mkt .stamp .snack_wrap ul{overflow:hidden;height:286px;}
.ctns .mkt .stamp .snack_wrap ul li{overflow:hidden;float:left;width:240px;height:286px;}
.ctns .mkt .stamp .snack_wrap ul li:last-child{width:239px;border-left:1px solid #c8cbce;}
.ctns .mkt .stamp .snack_wrap ul li span{display:block;}
.ctns .mkt .stamp .snack_wrap ul li span .num{display:inline;}
.ctns .mkt .stamp .snack_wrap ul li .ent_grp{float:left;margin:8px 0 0 15px;}
.ctns .mkt .stamp .snack_wrap ul li .ent_grp .ent{display:block;width:99px;height:35px;color:#fff;font-size:1.2em;text-align:center;line-height:35px;border:1px solid #2560b8;letter-spacing:-1px;background:#4e89e0;text-shadow:1px 1px 1px #437cd9;}
.ctns .mkt .stamp .snack_wrap ul li .ent_grp .end{display:block;width:99px;height:35px;color:#d2d2d2;font-size:1.2em;text-align:center;line-height:35px;border:1px solid #5b5b5b;letter-spacing:-1px;background:#5e5e5e;text-shadow:1px 1px 1px #454545;}
.ctns .mkt .stamp .snack_wrap ul li .exch_grp{float:left;margin:8px 0 0 8px;}
.ctns .mkt .stamp .snack_wrap ul li .exch_grp .exch{display:block;width:99px;height:35px;color:#fff;font-size:1.2em;text-align:center;line-height:35px;border:1px solid #6fa749;letter-spacing:-1px;background:#7dbd53;text-shadow:1px 1px 1px #67a440;}
.ctns .mkt .stamp .snack_wrap ul li .exch_grp .end{display:block;width:99px;height:35px;color:#d2d2d2;font-size:1.2em;text-align:center;line-height:35px;border:1px solid #5b5b5b;letter-spacing:-1px;background:#5e5e5e;text-shadow:1px 1px 1px #454545;}
.ctns .mkt .stamp .snack_wrap ul li .txt{padding:5px 0 0 0;color:#555;font-size:1.05em;letter-spacing:-1px;}
.ctns .mkt .stamp .snack_wrap ul li .txt .n1{color:#107aea;}
.ctns .mkt .stamp .snack_wrap ul li .txt .n2{color:#5c9835;}
.ctns .mkt .stamp .snack_wrap .prev{position:absolute;top:0;left:0;width:45px;height:166px;padding:120px 0 0 0;text-align:center;}
.ctns .mkt .stamp .snack_wrap .prev span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -60px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .stamp .snack_wrap .next{position:absolute;top:0;right:0;width:45px;height:166px;padding:120px 0 0 0;text-align:center;}
.ctns .mkt .stamp .snack_wrap .next span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -41px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .stamp .snack_wrap .bn_grp{height:286px;}
.ctns .mkt .stamp .snack_wrap .bn_grp img{width:159px;height:201px;margin:0 0 0 40px;}

.ctns .mkt .stamp em{font-style:normal;font-weight:bold;}
.ctns .mkt .stamp #ctns_stamp0{overflow:hidden;}
.ctns .mkt .stamp #ctns_stamp1{overflow:hidden;height:0;}

/* home */
.ctns .mkt .home .user_wrap{height:195px;border-bottom:1px solid #b9b9b9;background:#f7f7f7;}
.ctns .mkt .home .user_wrap .uw{overflow:hidden;position:relative;display:block;width:480px;margin:0 auto;font-weight:normal;letter-spacing:-1px;}
.ctns .mkt .home .user_wrap .uw .txt{height:121px;padding:23px 0 0 27px;color:#666;font-size:1.125em;font-weight:normal;line-height:1.125em;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_rank.png") no-repeat right bottom;background-size:201px 79px;-webkit-background-size:201px 79px;}
.ctns .mkt .home .user_wrap .uw .txt span{font-weight:bold;}
.ctns .mkt .home .user_wrap .uw .my{display:block;position:absolute;bottom:21px;left:27px;width:179px;height:36px;border:1px solid #ccc;font-size:1.05em;text-align:center;letter-spacing:-2px;line-height:2.2em;background:#fff;box-shadow:0 2px 1px #ececec;-webkit-box-shadow:0 2px 1px #ececec;}
.ctns .mkt .home .user_wrap .uw .my:after{content:"";display:inline-block;width:10px;height:16px;margin:-2px 0 0 7px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:9px 14px;-webkit-background-size:9px 14px;}
.ctns .mkt .home .user_wrap .uw .month_grp{position:relative;float:left;width:151px;height:130px;padding:14px 0 0 28px;border-right:1px solid #d6d6d6;}
.ctns .mkt .home .user_wrap .uw .month_grp .month{color:#333;padding:0 0 6px 0;font-size:1.125em;}
.ctns .mkt .home .user_wrap .uw .month_grp .month span{font-weight:normal;}
.ctns .mkt .home .user_wrap .uw .month_grp .lv1 img{width:124px;height:50px;}
.ctns .mkt .home .user_wrap .uw .month_grp .this_mon{display:block;position:absolute;bottom:8px;left:8px;width:160px;height:36px;border:1px solid #ccc;font-size:1.05em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:2.2em;background:#fff;box-shadow:0 2px 1px #ececec;-webkit-box-shadow:0 2px 1px #ececec;}
.ctns .mkt .home .user_wrap .uw .month_grp .this_mon:after{content:"";display:inline-block;width:10px;height:16px;margin:-2px 0 0 7px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:9px 14px;-webkit-background-size:9px 14px;}
.ctns .mkt .home .user_wrap .uw .num_grp{float:left;width:299px;height:144px;border-left:1px solid #fff;}
.ctns .mkt .home .user_wrap .uw .num_grp ul li{position:relative;margin:0 0 0 19px;padding:12px 0 0 6px;color:#333;font-size:1.125em;font-weight:normal;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot2.png") no-repeat left 22px;background-size:3px 2px;-webkit-background-size:3px 2px;}
.ctns .mkt .home .user_wrap .uw .num_grp ul li .num{position:absolute;top:12px;right:10px;}
.ctns .mkt .home .user_wrap .uw .num_grp ul li .num span{color:#1179ea;font-weight:bold;}

.ctns .mkt .home .user_wrap .user{height:35px;padding:15px 0 0 0;border-bottom:1px solid #959595;font-size:1.3em;letter-spacing:-1px;background:#fff;}
.ctns .mkt .home .user_wrap .user .uw{width:467px;padding:0 0 0 13px;}
.ctns .mkt .home .user_wrap .user .uw span{font-weight:bold;}
.ctns .mkt .home .user_wrap .user .uw .info{color:#1179ea;}

.ctns .mkt .home h4{width:467px;margin:30px auto 0 auto;padding:0 0 12px 13px;font-size:1.3em;font-weight:normal;letter-spacing:-2px;}
.ctns .mkt .home h4 em{font-weight:bold;font-style:normal;}
.ctns .mkt .home .sctn_wrap{border-top:1px solid #7c7c7c;border-bottom:1px solid #c8cbce;}
.ctns .mkt .home .sctn{overflow:hidden;width:480px;margin:0 auto;}
.ctns .mkt .home .sctn a{display:block;float:left;}
.ctns .mkt .home .sctn .img1{width:240px;}
.ctns .mkt .home .sctn .img2{width:480px;}

/* member */
.ctns .mkt .member .tit1{background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_member.gif") repeat-x left top;background-size:1px 285px;-webkit-background-size:1px 285px;}
.ctns .mkt .member .tit1 p{width:480px;margin:0 auto;}
.ctns .mkt .member .tit1 p img{width:480px;}

.ctns .mkt .member .mem1_wrap{border-top:1px solid #ca2f2b;border-bottom:1px solid #c8cbce;}
.ctns .mkt .member .mem1_wrap .tit2{border-bottom:1px solid #959595;text-align:center;background:#f7f7f7;}
.ctns .mkt .member .mem1_wrap .tit2 img{width:480px;}
.ctns .mkt .member .mem1_wrap .mem1{width:480px;height:300px;margin:0 auto;}
.ctns .mkt .member .mem1_wrap .mem1 li{overflow:hidden;padding:20px 20px;}
.ctns .mkt .member .mem1_wrap .mem1 .perc{width:81px;height:48px;margin:10px 0 0 20px;}
.ctns .mkt .member .mem1_wrap .mem1 img{width:174px;height:70px;}
.ctns .mkt .member .mem1_wrap .mem1 li span{float:left;width:220px;text-align:center;}
.ctns .mkt .member .mem1_wrap .mem1 li span a{display:block;width:138px;height:37px;margin:11px auto 17px auto;font-size:1.2em;line-height:38px;letter-spacing:-1px;background:#5e5e5e;text-shadow:1px 1px 1px #454545;}
.ctns .mkt .member .mem1_wrap .mem1 li span .down1{color:#d2d2d2;}
.ctns .mkt .member .mem1_wrap .mem1 li span .down2{color:#a6ec72;letter-spacing:0;}
.ctns .mkt .member .mem1_wrap .mem1 li span.first{text-align:left;}
.ctns .mkt .member .mem1_wrap .mem1 li span.first em{display:block;margin:8px 0 0 20px;padding:5px 0 0 0;border-top:1px solid #b0b0b0;color:#025fac;font-size:1.3em;font-weight:normal;letter-spacing:-1px;}
.ctns .mkt .member .mem1_wrap .prev{position:absolute;top:0;left:0;width:45px;height:167px;padding:133px 0 0 0;text-align:center;z-index:10;}
.ctns .mkt .member .mem1_wrap .prev span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -60px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .member .mem1_wrap .next{position:absolute;top:0;right:0;width:45px;height:167px;padding:133px 0 0 0;text-align:center;z-index:10;}
.ctns .mkt .member .mem1_wrap .next span{display:inline-block;width:20px;height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/btns2.png") no-repeat -41px top;background-size:81px 48px;-webkit-background-size:81px 48px;}
.ctns .mkt .member .mem2_wrap{margin:30px 0 0 0;border-top:1px solid #ca2f2b;border-bottom:1px solid #c8c8c8;}
.ctns .mkt .member .mem2_wrap .tit2{border-bottom:1px solid #959595;text-align:center;background:#f7f7f7;}
.ctns .mkt .member .mem2_wrap img{width:480px;}
.ctns .mkt .member .mem2{position:relative;width:480px;margin:0 auto;}

.ctns .mkt .member .detail{display:block;width:454px;height:45px;margin:15px auto 0 auto;border:1px solid #c9c9c9;color:#555;font-size:1.25em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:46px;background:#f9f9f9;box-shadow:0 2px 1px #ededed;-webkit-box-shadow:0 2px 1px #ededed;}
.ctns .mkt .member .detail:after{content:"";display:inline-block;width:10px;height:16px;margin:-3px 0 0 8px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:10px 16px;-webkit-background-size:10px 16px;}
.ctns .mkt .member .cpn{position:absolute;bottom:15px;left:13px;display:block;width:454px;height:45px;margin:15px auto 0 auto;border:1px solid #c9c9c9;color:#555;font-size:1.25em;font-weight:normal;text-align:center;letter-spacing:-2px;line-height:45px;background:#f9f9f9;box-shadow:0 2px 1px #ededed;-webkit-box-shadow:0 2px 1px #ededed;}
.ctns .mkt .member .cpn:after{content:"";display:inline-block;width:27px;height:27px;margin:-3px 0 0 8px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/icon_member_go.png") no-repeat left top;background-size:27px 27px;-webkit-background-size:27px 27px;}

.ctns .mkt .member em{font-weight:bold;font-style:normal;}
.ctns .mkt .member .notice_wrap{border-bottom:1px solid #c8c8c8;}
.ctns .mkt .member .notice_wrap .notice{width:448px;margin:0 auto;padding:25px 16px 30px 16px;letter-spacing:-1px;}
.ctns .mkt .member .notice_wrap .notice p{color:#33962c;font-size:1.25em;font-weight:normal;}
.ctns .mkt .member .notice_wrap .notice ul li{padding:5px 0 0 7px;font-size:1.05em;font-weight:normal;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_dot1.png") no-repeat left 17px;background-size:3px 3px;-webkit-background-size:3px 3px;}
.ctns .mkt .member .notice_wrap .notice ul li.txt{color:#0c66c6;}
.ctns .mkt .member .notice_wrap .notice ul li.txt2{color:#0c66c6;font-weight:bold;}
.ctns .mkt .member .notice_wrap .notice ul li a{display:block;width:200px;height:28px;margin:4px 0 0 0;border:1px solid #cbcbcb;letter-spacing:-1px;line-height:28px;text-align:center;background:#eee;}
.ctns .mkt .member .notice_wrap .notice ul li a:after{content:"";display:inline-block;width:10px;height:16px;margin:-3px 0 0 6px;vertical-align:middle;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bu_arr6.png") no-repeat left top;background-size:10px 16px;-webkit-background-size:10px 16px;}

/* category */
.ctns .mkt .cate_wrap{position:relative;}
.ctns .mkt .cate_wrap .prev{position:absolute;top:0;left:0;width:74px;height:28px;padding:32px 0 0 0;border-right:1px solid #c3c3c3;color:#383838;font-size:1.125em;font-weight:normal;text-align:center;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/bg_prev.gif") repeat-x left top;background-size:1px 59px;-webkit-background-size:1px 59px;}
.ctns .mkt .cate_wrap .prev:before{position:absolute;top:10px;left:25px;content:"";display:block;width:24px;height:20px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/640/icon_prev.gif") no-repeat left top;background-size:24px 20px;-webkit-background-size:24px 20px;}
.ctns .mkt .cate_wrap .cate{display:block;width:480px;margin:0 auto;}


/* 이벤트_팝업 */
.ctns .pop_evt_wrap{display:none;position:absolute;top:200px;left:50%;margin:0 0 0 -201px;z-index:40;}