@charset "euc-kr";

/* table */
.ctxt{color:#999;}
.comp_message{text-align:center}

.roof2{border-top:1px solid #d8d8d8;}
.bd1 th{border-left:1px solid #d8d8d8 }
.bd1 th,
.bd1 td{border-top:none }
.bd_ty2{border-top:none }

.txtarea_wrap{display:block;width:100%;}
.txtarea_wrap .tips{display:block;text-align:right;}
.txtarea_wrap .rtxt{display:block;clear:both;width:100%;text-align:right;}
.txtarea_wrap textarea{padding:7px 2px 3px 5px;border:1px solid #aaa;color:#999}

table th.t_right, table td.t_right{text-align:right }
table th.t_left, table td.t_left{text-align:left }
table th.left, table td.left {text-align:left }
.tbl_1 table td .price,.tbl_2 table td .price{color:#eb2c06;font-size:1.3em}

.t_type1 {margin:0 15px}
.t_type1 table th, .t_type1 table td{text-align:center ;}
.t_type1 table th{padding-left:0 ;border-left:1px solid #d8d8d8 }

.t_type2 {border-top:1px solid #bdbdbd;}
.t_type2 table th, .t_type2 table td{text-align:center ;}
.t_type2 table td{border-left:1px solid #d8d8d8 ;text-align:left }
.t_type2 table th{text-align:left ;border-left:1px solid #d8d8d8 }

.t_type3 {border-top:1px solid #bdbdbd;}
.t_type3 table th, .t_type3 table td{text-align:center ;}
.t_type3 table th{text-align:center;border-left:1px solid #d8d8d8 }

.t_type4{clear:both;margin-bottom:15px;border:2px solid #6a6a6a;}
.t_type5{clear:both;margin-bottom:15px;border:1px solid #bdbdbd;}
.t_type5 td:first-child{border-top:0;border-left:0;border-right:0}


.tbl_1 table{width:100%;table-layout:fixed;}
.tbl_1 table th,
.tbl_1 table td{height:38px;padding:10px 0;border:1px solid #d8d8d8;font-size:1.2em;line-height:1.2em;letter-spacing:-1px;font-weight:normal;}
.tbl_1 table th:first-child{border-left:none}
.tbl_1 table th{padding-left:15px;background:#f9f9f9;text-align:left;color:#111}
.tbl_1 table td{padding-left:15px;padding-right:15px;color:#656565}
.tbl_1 table td .stra{display:block;color:#055BC2 ;}
.tbl_1 table td .price{color:#eb2c06 ;font-size:1.2em}
.tbl_1 table td .line1 .tit{width:83px;display:inline-block;background:#fff url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_colone2.gif) no-repeat right 7px ;}
.tbl_1 table td .line1 .thty{display:inline-block;}
.tbl_1 table td .mobile_py{position:relative;width:100%;height:38px;}
.tbl_1 table td .mobile_py .tit_agr{position:absolute;top:9px;left:0;width:200px;padding:0}
.tbl_1 table td .mobile_py .tit_agr input{vertical-align:top;margin-top:2px;}
.tbl_1 table td .mobile_py .btn_agr{position:absolute;top:0;right:0;height:38px;margin-bottom:1px;border:1px solid #bdbdbd;box-shadow:0 1px 1px #787878}
.tbl_1 table td .mobile_py .btn_agr span{display:block;width:97px;height:29px;padding-top:7px;border:1px solid #fff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ececec));font-size:1em;color:#4d4d4d;text-align:center}
.tbl_1 table td .input{vertical-align:middle}
.tbl_1 table td .btn_reSend{display:inline-block;height:38px;margin:1px 0 0 10px;border:1px solid #bdbdbd;box-shadow:0 1px 1px #787878;vertical-align:middle}
.tbl_1 table td .btn_reSend span{display:inline-block;width:97px;height:29px;padding-top:7px;border:1px solid #fff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ececec));font-size:1em;color:#4d4d4d;text-align:center}

.tbl_1 table td input,
.tbl_1 table td select{color:#656565;font-size:1em;font-weight:normal;padding:0 8px;}

.tbl_1 table td select.tel1 {height:38px;width:37%;min-width:60px;padding:0 40px 0 0;text-align:center;}
.tbl_1 table td input.tel2  {height:38px;width:24.5%;min-width:62px;text-align:center;padding:0;}
.tbl_1 table td input.tel3  {height:38px;width:24.5%;min-width:62px;text-align:center;padding:0;}
.tbl_1 table td input.regNum{height:38px;width:46.5%;min-width:100px;text-align:center;padding:0;}
.tbl_1 table td input.passwd{height:38px;width:50%;min-width:170px;}
.tbl_1 table td input.text  {height:38px;width:50%;min-width:170px;}
.tbl_1 table td .authWrap{position:relative;padding-right:118px;}
.tbl_1 table td .authWrap input{width:100%;height:38px;text-align:center;padding:0;}
.tbl_1 table td .authWrap a{position:absolute;top:-1px;right:7px;}
.tbl_1 table td strong.auth_time{color:#eb2c06;}

.tbl_2{overflow:hidden;}
.tbl_2 table{width:100%;table-layout:fixed}
.tbl_2 table th,
.tbl_2 table td{height:40px;padding:10px 13px;border:1px solid #d8d8d8;border-top:0;font-size:1.1em;letter-spacing:-1px;font-weight:normal;}
.tbl_2 table th{background:#f9f9f9;text-align:left;color:#111;letter-spacing:-1px;}
.tbl_2 table td{color:#656565;}

.tbl_2 table td input,
.tbl_2 table td select{height:38px;color:#656565;font-size:1em;font-weight:normal;padding:0 8px;}

.tbl_1 table td .line1,
.tbl_2 table td .line1,
.tbl_2 table td .line2,
.tbl_2 table td .line3,
.tbl_2 table td .line5,
.tbl_2 table td .line4{display:block}

.tbl_1 table td .line1,
.tbl_2 table td .line1,
.tbl_2 table td .line2{margin-bottom:8px;}
.tbl_2 table td .line3{height:8px;}
.tbl_2 table td .line2{font-size:0.9em;line-height:1.2em}
.tbl_2 table td .line4{margin:0;padding:0 0 7px 0;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_dot.gif) repeat-x 0 bottom;line-height:1.2em}
.tbl_2 table td .line5{margin:0 0 7px 15px;}
.tbl_2 table td .line_last{margin-bottom:0;}
.tbl_2 table td textarea{width:100%;-webkit-box-sizing:border-box;height:104px;margin-bottom:7px;padding:7px;border:1px solid #aaa;color:#999;font-weight:normal;border-radius:0;}/*box-shadow:inset 1px #e6e6e6;*/
.tbl_2 table td .txt{margin:7px 0 9px 0;line-height:1.3em;font-weight:normal;letter-spacing:-0.1em;color:#656565;text-align:center}
.tbl_2 table td .txt2{font-size:0.9em ;letter-spacing:-1px;}
.tbl_2 table td .input100{width:100%;-webkit-box-sizing:border-box;}

.tbl_2 input.ip{height:38px;padding:0 3px;border:1px solid #aaa;}
.tbl_2 input.ip2{width:25%;min-width:62px;text-align:center;padding:0;border:1px solid #aaa;}

.tbl_2 td select.tel1{width:37%;min-width:60px;padding:0 40px 0 0;text-align:center;}
.tbl_2 input.tel2{width:24.5%;min-width:62px;text-align:center;padding:0;}
.tbl_2 input.tel3{width:24.5%;min-width:62px;text-align:center;padding:0;}

.tbl_2 .btn_auth,
.tbl_2 .btn_post{margin-left:10px;display:inline-block;width:90px;height:38px;border:1px solid #bdbdbd;background:#eee;vertical-align:middle}
.tbl_2 .btn_auth span,
.tbl_2 .btn_post span{display:block;height:28px;padding-top:8px;border:1px solid #fff;background: url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_bg_13.gif) repeat-x;color:#4b4b4b;font-size:1em;text-align:center;}

.tbl_2 .nes{display:block;margin-top:10px;padding-left:23px;background: url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 8px 50%;color:#055BC2}

.tbl_2 .py_price{color:#2b2b2b;font-weight:bold;font-size:1.3em;}
.tbl_2 .btn_light_gray40{overflow:hidden;display:inline-block;margin-top:7px;width:113px;}
.tbl_2 .btn_light_gray40 span{color:#4b4b4b;font-size:0.9em;}

.tbl_2 .homeplus{position:relative;}
.tbl_2 .homeplus .left{float:left;}
.tbl_2 .homeplus .right{float:right;margin-top:6px;}

.tbl_2 .hplus_delivery{display:block;overflow:hidden;}
.tbl_2 .hplus_goods{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.tbl_2 .user_auth span{display:block;}
.tbl_2 .user_auth .row1{}
.tbl_2 .user_auth .row1 input{width:50%;}
.tbl_2 .user_auth .row2{margin-top:7px;font-size:0.9em;}

/* [주문결제] 홈플러스 주문 안내 팝업 */
.tbl_2 .popup_homeplus{position:absolute;left:0;top:46px;width:100%;display:none;}
.tbl_2 .popup_homeplus .space{background:#fff;border:2px solid #4f84d0;}
.tbl_2 .popup_homeplus .header{position:relative;border-bottom:1px solid #4f84d0;}
.tbl_2 .popup_homeplus .header h4{overflow:hidden;height:34px;line-height:34px;font-size:1.1em;font-weight:bold;color:#055bc2;padding-left:13px;padding-right:46px;}
.tbl_2 .popup_homeplus .header .layer_close{display:inline-block;position:absolute;right:0px;top:0px;width:33px;height:34px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_popup_homeplus_close.png) no-repeat;}
.tbl_2 .popup_homeplus .text_wrap{padding:13px 10px;}
.tbl_2 .popup_homeplus .text_wrap li{font-size:1.1em;font-weight:normal;color:#676767;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_2.gif) left 8px no-repeat;padding-left:13px;margin-top:5px;}
.tbl_2 .popup_homeplus .text_wrap li:first-child{margin-top:0;}

.tbl_3{overflow:hidden;margin:0 15px 15px 15px;background:#fff;border:2px solid #666}
.tbl_3 table{width:100%;border-bottom:0;}
.tbl_3 table th:first-child,
.tbl_3 table td:first-child{border-left:none}
.tbl_3 table th,
.tbl_3 table td{padding:10px 0 9px 0;font-size:1.2em;color:#2b2b2b;text-align:center ;color:#2b2b2b;letter-spacing:-1px;}
.tbl_3 table th{padding-left:0;padding-right:0;text-align:center;border-left:1px solid #a7bde4;background:#c0cde3;color:#0f366e}
.tbl_3 table th:first-child,
.tbl_3 table td:first-child{border-left:0}
.tbl_3 table td{position:relative;padding-left:12px;padding-right:12px;color:#2b2b2b;border-left:1px solid #c9d1dd;border-bottom:none;text-align:center ;}
.tbl_3 table td .ip{height:32px;padding:3px;border:1px solid #aaa;}
.tbl_3 .prw1{position:relative;margin-right:-12px}
.tbl_3 .prw2{position:relative;margin-left:-12px}
.tbl_3 .img_minus{display:block;position:absolute; top:-6px; right:-4px;width:31px; height:31px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/cir_minus.png) no-repeat;z-index:10}
.tbl_3 .img_plus{display:block;position:absolute; top:-6px; left:-4px;width:31px; height:31px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/cir_plus.png) no-repeat;z-index:10;}

/* [2012.06.25] 상단 구분선 색상을 #5eaa00 -> #000000 으로 변경함  */
.tbl_3 .total {clear:both;position:relative;height:60px;border-top:2px solid #111;background:#fff;}

.tbl_3 .total .title{position:absolute;top:0;left:15px;color:#2b2b2b;font-size:1.3em;line-height:60px;}
.tbl_3 .total .total_price{position:absolute;top:0;right:15px;font-size:1.7em;line-height:60px;color:#eb2c06;}
.tbl_3 .total .total_price strong{color:#eb2c06;}
.tbl_3 .totwrap{}

.tbl_4{margin:20px 15px 0 15px;border:3px solid #055bc2}
.tbl_4 table{width:100%;padding:0;}
.tbl_4 table th,
.tbl_4 table td{padding:15px 12px;letter-spacing:-1px;font-size:1.2em;}
.tbl_4 table th{text-align:left;color:#111;font-weight:normal;padding-right:0;}
.tbl_4 table th span{display:block;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_colone.gif) no-repeat right center;}
.tbl_4 table td{text-align:right;color:#eb2c06;}
.tbl_4 table thead{border-bottom:1px solid #d8d8d8;}
.tbl_4 table thead td{color:#2b2b2b;}
.tbl_4 table tfoot{border-top:1px solid #d8d8d8;color:#eb2c06;text-align:right;font-size:1.3em}

.tbl_4 table thead th{padding:8px 0 8px 12px;}
.tbl_4 table thead td{padding:8px 12px;}
.tbl_4 table thead tr:first-child th,
.tbl_4 table thead tr:first-child td{padding-top:15px;}
.tbl_4 table thead tr:last-child th,
.tbl_4 table thead tr:last-child td{padding-bottom:15px;}

.tbl_4 table tbody th{padding:8px 0 8px 12px;}
.tbl_4 table tbody td{padding:8px 12px;}
.tbl_4 table tbody tr:first-child th,
.tbl_4 table tbody tr:first-child td{padding-top:15px;}
.tbl_4 table tbody tr:last-child th,
.tbl_4 table tbody tr:last-child td{padding-bottom:15px;}

.tbl_8 table{width:100%;table-layout:fixed}
.tbl_8 table th,
.tbl_8 table td{height:50px;padding-left:15px;border:1px solid #bdbdbd;font-size:1.2em;font-weight:normal;line-height:50px;letter-spacing:-0.1em;}
.tbl_8 table th{background:#f9f9f9;text-align:left;color:#111}
.tbl_8 table td{padding-right:15px;color:#656565}
.tbl_8 table td .ip{height:32px;padding:3px;border:1px solid #aaa; }
.tbl_8 table td .stra{display:block;color:#055BC2 ;}
.tbl_8 table td .price{color:#eb2c06 ;font-size:1.2em}
.tbl_8 table td .line1 .tit{width:83px;display:inline-block;background:#fff url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_colone2.gif) no-repeat right 7px ;}
.tbl_8 table td .line1 .thty{display:inline-block;}
.tbl_8 table td .mobile_py{float:left;width:100%}
.tbl_8 table td .mobile_py .tit_agr{float:left;width:200px;padding:7px 0 0 0}
.tbl_8 table td .mobile_py .tit_agr input{vertical-align:top}
.tbl_8 table td .mobile_py .btn_agr{float:right;height:38px;margin-bottom:1px;border:1px solid #bdbdbd;box-shadow:0 1px 1px #787878}
.tbl_8 table td .mobile_py .btn_agr span{display:block;width:97px;height:29px;padding-top:7px;border:1px solid #fff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ececec));font-size:1em;color:#4d4d4d;text-align:center}
.tbl_8 table td .input{vertical-align:middle}
.tbl_8 table td .btn_reSend{display:inline-block;height:38px;margin:1px 0 0 10px;border:1px solid #bdbdbd;box-shadow:0 1px 1px #787878;vertical-align:middle}
.tbl_8 table td .btn_reSend span{display:inline-block;width:97px;height:29px;padding-top:7px;border:1px solid #fff;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ececec));font-size:1em;color:#4d4d4d;text-align:center}
.tbl_8 .ip_radio li:first-child{margin-top:0;}
.tbl_8 .ip_radio li{margin-top:10px;}
.tbl_8 .ip_radio input{vertical-align:top;}

.tbl_9{margin:0 15px}
.tbl_9 table{width:100%;table-layout:fixed}
.tbl_9 table th,
.tbl_9 table td{height:50px;border:1px solid #bdbdbd;font-size:1.1em;line-height:50px;letter-spacing:-0.1em;}
.tbl_9 table th{color:#111;background:#f9f9f9;}
.tbl_9 table td{color:#656565;padding:0 15px;}

.total {clear:both;position:relative;height:60px;border-top:1px solid #a8a8a8;background:#242424;color:#fff;}
.total .title{position:absolute;top:0;left:15px;font-size:1.3em;line-height:60px;}
.total .total_price{position:absolute;top:0px;right:15px;font-size:1.7em;line-height:60px;color:#2b2b2b;color:#fff;}
.total .total_price strong{color:#fff;}


h5 .unfold{background:#e6ecf2 url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_down.gif) no-repeat right 25px;}
h5 a{background:#e6ecf2 url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_up.gif) no-repeat right 25px;border-bottom:none;}

.ordbm{margin-bottom:248px;}
.order_list.bdn1{border-bottom:none}
.order_list{overflow:hidden;margin:0 15px 0;}/*border-bottom:1px solid #bdbdbd*/
.order_list .ordGroup{}
.order_list .scn{margin-top:20px;border-top:1px solid #bdbdbd}
.order_list h4 a{display:block}
.order_list h4.tit_1{height:48px;padding:0 15px;border:1px solid #8e9dac;background:#aebccc;color:#fff;font-size:1.3em;line-height:48px;letter-spacing:-0.1em}

.order_list .delivery_fee{background:#f4f4f4;overflow:hidden;height:48px;line-height:48px;padding:0 15px;border:1px solid #bdbdbd;border-top:0;background:#f4f4f4;font-size:1.2em;vertical-align:middle;font-weight:normal;}
.order_list .goods_wrap{background:#ffffff;margin-bottom:15px;}

.order_list .cont{border:1px solid #bdbdbd;border-top:0;}
.order_list .cont .txt2{margin-left:15px;padding:8px 0 9px 9px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 0 19px;color:#055bc2;font-size:1.1em}
.order_list .cont p.subs{overflow:hidden;height:49px;margin-bottom:12px;padding:12px 15px 0 15px;color:#2b2b2b;font-size:1.2em;line-height:1.2em;font-weight:normal;}
.order_list .cont .p_list2{clear:both;display:none;margin:5px 0 0 15px}
.order_list .cont .p_list2 li{padding-left:13px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_4.gif) no-repeat 0 9px;color:#656565;font-size:1.1em;line-height:1.5em}

.order_list .cont .arrange{position:relative;height:37px;padding:7px 15px;color:#656565;border-top:1px dotted #bdbdbd;font-size:1.2em}
.order_list .cont .arrange span{display:inline-block;}
.order_list .cont .arrange .count{color:#656565;font-size:1em;font-weight:normal;line-height:37px;}
.order_list .cont .arrange .count strong{color:#055BC2 ;font-size:1em}
.order_list .cont .arrange .btn_viewAll{display:block;position:absolute;top:10px;right:15px;border:1px solid #bdbdbd;background:#eee url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_btn.gif) repeat-x;width:151px;height:29px;}
.order_list .cont .arrange .btn_viewAll a{display:block;padding-left:12px;font-size:15px;line-height:29px;letter-spacing:-0.1em;color:#4B4B4B;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_drop.gif) no-repeat 131px 50%;}
.order_list .space {overflow:hidden;padding:0 15px 10px 15px;border:1px solid #bdbdbd;border-top:0;}

.order_list .btn_ordView{float:right;display:block;margin:10px 0 0 0;border:1px solid #bdbdbd;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_list_view.gif) repeat-x;width:151px;height:29px;}
.order_list .btn_ordView a{display:block;padding-left:12px;font-size:15px;line-height:29px;letter-spacing:-0.1em;color:#4B4B4B;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_up.gif) no-repeat 131px 50%;}

.order_list .ordGroup .arr{display:block;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_2.gif) no-repeat right 55px}
.sec_chg.roof{border-top:1px solid #bdbdbd;}
.sec_chg{overflow:hidden;padding:15px;font-size:1.2em;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;}
.sec_chg .checkbox{position:relative;float:left;width:27px;margin-top:25px;text-align:left;}
.sec_chg .p_pic{position:relative;float:left;width:80px;margin-right:15px;padding:0 0 0 23px;}
.sec_chg .p_pic.pic2{padding:0;}
.sec_chg .p_pic .ipst{position:absolute;top:32px;left:0px}
.sec_chg .p_pic img{width:78px;height:78px;border:1px solid #d2d2d2;}
.sec_chg .p_pic3{position:relative;float:left;width:80px;margin-right:10px;padding:0;}
.sec_chg .p_pic3 img{width:78px;height:78px;border:1px solid #d2d2d2;}
.sec_chg .order_num{display:block;margin:2px 0 3px 0}
.sec_chg .p_txt{overflow:hidden;display:block;height:70px;padding-top:0;margin-top:5px;line-height:1.2em;font-weight:normal;letter-spacing:-0.1em;}
.sec_chg .p_txt2{margin-left:90px;padding:0 0 9px 9px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 0 9px;color:#055bc2;font-size:1em}
.sec_chg .p_txt2 a{color:#055bc2;}
.sec_chg a{display:block}

.sec_def, .sec_req{clear:both;overflow:hidden; *zoom:1;padding:15px 0;border:1px solid #bdbdbd;border-top:none;border-bottom:none;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_dot3.gif) repeat-x 0 0}
.sec_def .p_list li,
.sec_req .p_list li,
.sec_cpn .p_list li{padding:0 15px 0 25px;margin-top:8px;font-size:1.1em;color:#656565;line-height:100%;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_4.gif) no-repeat 15px 7px;}
.sec_def .p_list li:first-child,
.sec_req .p_list li:first-child,
.sec_cpn .p_list li:first-child{margin-top:0px;}

.sec_def{position:relative;border-bottom:1px solid #bdbdbd;}
.sec_def .btn_view{position:absolute;bottom:0;right:0;display:block;width:122px;height:27px;border:1px solid #bdbdbd;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_list_view.gif) repeat-x;font-size:1em;letter-spacing:-1px;border-bottom:0;border-right:0;}
.sec_def .btn_view a{display:block;line-height:27px;padding:0 9px 0 0;text-align:center;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_drop.gif) no-repeat 103px center;border:1px solid #fff;-webkit-gradient(liner, left top, left bottom, color-stop(0, #000), color-stop(1, #f2f2f2));}
.sec_def .btn_view .unfold{background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_up.gif) no-repeat 103px center}
.sec_def .price{color:#2b2b2b;}

.sec_req .txt{padding:0 15px 0 25px;font-size:1.1em;color:#055BC2;line-height:100%;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 15px 50%;}
.sec_req .txt a{color:#055bc2;}

.sec_cpn.roof{border-top:1px solid #bdbdbd;}
.sec_cpn{clear:both;position:relative;overflow:hidden;padding:15px 0;border:1px solid #bdbdbd;border-top:none;}

.sec_cpn .btn_view{position:absolute;bottom:0;right:0;display:block;width:122px;height:27px;border:1px solid #bdbdbd;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_list_view.gif) repeat-x;font-size:1em;letter-spacing:-1px;border-bottom:0;border-right:0;}
.sec_cpn .btn_view a{display:block;line-height:27px;padding:0 9px 0 0;text-align:center;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_drop.gif) no-repeat 103px center;border:1px solid #fff;-webkit-gradient(liner, left top, left bottom, color-stop(0, #000), color-stop(1, #f2f2f2));}
.sec_cpn .btn_view .unfold{background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_up.gif) no-repeat 103px center}
.sec_cpn .price{color:#2b2b2b;}

.sec_btn_grp{clear:both;overflow:hidden;padding:20px 0;border:1px solid #bdbdbd;border-top:none;}

.alert_global{margin:15px;border:1px solid #bdbdbd;background:#f9f9f9;padding:18px 15px;}
.alert_global span{display:block;letter-spacing:-1px;}
.alert_global .title{color:#111111;font-size:1.3em;font-weight:bold;}
.alert_global .text {color:#6f6f6f;font-size:1.05em;font-weight:normal;margin-top:20px;margin-bottom:15px;}
.alert_global .agree{color:#111111;font-size:1.2em;font-weight:normal;}

.delivery_info{margin:15px}
.delivery_info .hgroup{position:relative;overflow:hidden;height:48px;border:1px solid #8e9dac;background:#aebccc;}
.delivery_info .hgroup h4{position:absolute;top:0;left:15px;color:#fff;font-size:1.3em;letter-spacing:-1px;line-height:48px;}
.delivery_info .hgroup span{position:absolute;top:10px;height:28px;display:inline-block;border:1px solid #909DAA;border-radius:18px;background:#fff}
.delivery_info .hgroup .dv1{right:251px;width:93px;}
.delivery_info .hgroup .dv2{right:133px;width:108px;}
.delivery_info .hgroup .dv3{right:15px; width:108px;}
.delivery_info .hgroup a{display:block;color:#656565;font-size:1em;letter-spacing:-1px;line-height:28px;text-align:center;}
.delivery_info .hgroup .dv2 a{padding-left:8px;padding-right:15px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_1.gif) no-repeat 92px center;}
.delivery_info .hgroup .dv3 a{padding-left:8px;padding-right:15px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_1.gif) no-repeat 92px center;}

.card_dict{position:relative;margin:0 15px;}
.card_dict h4{height:38px;padding:10px 15px 0 15px;border:1px solid #8292a3;color:#fff;font-size:1.3em;background:#a5b5c6;}
.card_dict .card_use{position:relative;padding:15px;border:1px solid #bdbdbd;}
.card_dict .card_use .sel select{padding:0 75px 0 6px;font-size:1.1em;font-weight:normal;letter-spacing:-1px;}
.card_dict .card_use input{width:117px;height:38px;margin:0 0 0 4px;padding:0 4px 0 0;color:#6f6f6f;text-align:right;}
.card_dict .card_use .won{color:#656565;font-size:1.1em;font-weight:normal;vertical-align:middle;}
.card_dict .card_use .btn_use{display:inline-block;position:absolute;top:15px;right:15px;border:1px solid #055bc2;}
.card_dict .card_use .btn_use span{display:inline-block;width:75px;height:36px;border:1px solid #fff;color:#055bc2;text-align:center;line-height:36px;background:url("http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_bg_3.gif") repeat-x left top;}
.card_dict .card_use .cncl{border:1px solid #bdbdbd;}
.card_dict .card_use .cncl span{color:#4b4b4b;}
.card_dict .card_use .desc{padding:8px 0 0 0;color:#656565;font-size:1.1em;font-weight:normal;text-align:center;letter-spacing:-1px;}
.card_dict .card_use .desc span{color:#055bc2;font-weight:bold;}
.card_dict .help{position:absolute;top:10px;right:14px;}
.card_dict .pop_dict{visibility:hidden;position:absolute;top:46px;right:15px;width:416px;border:2px solid #4f84d0;letter-spacing:-1px;background:#fff;}
.card_dict .pop_dict .tit{padding:6px 0 7px 10px;border-bottom:1px solid #4f84d0;color:#055bc2;}
.card_dict .pop_dict .pop{position:relative;padding:15px;}
.card_dict .pop_dict .pop p{color:#676767;font-weight:normal;}
.card_dict .pop_dict .pop .cond{padding:10px 0 0 0;color:#060606;font-weight:bold;}
.card_dict .pop_dict .pop ul li{color:#eb2c06;font-weight:normal;}
.card_dict .pop_dict .pop .cls{position:absolute;top:-35px;right:0;}

.py_enter{overflow:hidden;margin:15px 15px 20px}
.py_enter h4{height:36px;padding:12px 15px 0 15px;border:1px solid #8292a3;background:#a5b5c6;color:#fff;font-size:1.3em}
.py_enter h4 a{display:block}
.py_enter select.card_opt1,
.py_enter select.card_opt2{width:55%;min-width:107px;padding-right:40px;margin-right:20px;}

.tab_py{clear:both; overflow:hidden;left:0;box-shadow:0 0 1px 0 #d1d1d1;border:1px solid #d8d8d8;border-top:0;}
.tab_py ul{overflow:hidden;width:420px;height:50px;margin:0 auto;padding:14px 0;}
.tab_py li{float:left;width:99px;;text-align:center;margin-left:8px;}
.tab_py li:first-child{margin-left:0;}
.tab_py li a{display:block;height:48px;border:1px solid #8f8f8f;background:#a7a7a7;font-size:1em;line-height:1.1em;color:#fff}
.tab_py li a span{display:block;border:1px solid #b7b7b7}

.tab_py li a span.line1{line-height:46px;}
.tab_py li a span.line2{line-height:19px;padding:4px 0;}

.tab_py li.on a{background:#1172cf ;color:#fff;border:1px solid #3c8bd8}
.tab_py li.on span{display:block;border:1px solid #3c8bd8}

.delivery_list li{border-bottom:1px solid #d8d8d8;}
.delivery_list a{position:relative;display:block;}
.delivery_list .address{margin:15px 15px 15px 55px;display:block;}
.delivery_list span{display:block;color:#656565}
.delivery_list .ipW{position:absolute;top:45%;left:20px;display:block;}

.delivery_list li .name{margin-bottom:5px;color:#2b2b2b;font-size:1.2em;}
.delivery_list li .addr2{line-height:23px;font-size:1.1em;font-weight:normal;}
.delivery_list li .num1{display:inline-block;height:21px;line-height:23px;margin-top:8px;padding:0 10px 0 23px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/ico_num_1.gif) no-repeat 0 center;font-size:1.1em;font-weight:normal;overflow:hidden;}
.delivery_list li .num2{display:inline-block;height:21px;line-height:23px;margin-top:8px;padding:0 10px 0 23px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/ico_num_2.gif) no-repeat 0 center;font-size:1.1em;font-weight:normal;overflow:hidden;}

.post_search{margin:15px 15px 0 15px;}
.post_search .title{color:#2b2b2b;font-size:1.2em;font-weight:normal;}
.post_search .title .ex{display:block;color:#656565;font-size:0.9em;margin-top:6px;}
.post_search .searching{position:relative;height:112px;border:1px solid #d8d8d8;background:#f5f5f5;font-size:1.2em;color:#656565;display:block}

.post_search .searching .lbl{display:block;position:absolute;top:30px;left:15px;width:60px;line-height:40px;}
.post_search .searching .inputWrap{display:block;position:relative;margin:30px 135px 0 75px;}
.post_search .searching .inputWrap input{display:block;width:100%;height:38px;padding:0 15px;}
.post_search .searching .inputWrap .unit{display:block;width:100%;max-height:34px;padding:3px 0 0 30px;font-size:0.8em;font-weight:normal;color:#656565;text-align:right;overflow:hidden;}
.post_search .searching .btn_sch {position:absolute;top:30px;right:15px;width:80px;height:40px;padding:0;border:1px solid #bdbdbd}
.post_search .searching .btn_sch span{display:block;width:78px;height:38px;padding-top:6px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_bg_15.gif) repeat-x;font-size:18px;font-weight:bold;;border:1px solid #fff;color:#4b4b4b;text-align:center;vertical-align:middle}

.post_search .tips{height:190px;margin-top:50px;font-size:1.2em;font-weight:normal;color:#656565;text-align:center;}
.post_search .post_list li{border-bottom:1px solid #d8d8d8;font-size:1.2em;}
.post_search .post_list a{display:block;position:relative;min-height:21px;padding:17px 0 17px 15px;}
.post_search .post_list .rButton{position:absolute;left:15px;top:15px;}
.post_search .post_list .address{display:block;padding-left:30px;color:#656565;font-weight:normal;}


.edit_list{background:#f9f9f9;}
.edit_list li:first-child{border-top:1px solid #055bc2;border-bottom:1px solid #055bc2;}
.edit_list li{position:relative;padding:15px;border-bottom:1px solid #c3c3c3;}
.edit_list span{font-weight:normal;letter-spacing:-1px;}
.edit_list .add{background:#fff;}

.edit_list .basic .title{display:block;margin-bottom:5px;font-size:1.2em;color:#055bc2;padding-left:10px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) left 9px no-repeat;}
.edit_list .add   .title{display:block;margin-bottom:5px;font-size:1.2em;color:#747474;padding-left:10px;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_2.gif) left 9px no-repeat;}

.edit_list .direct_input .input_wrap{display:block;padding-right:16px;margin-top:10px;}
.edit_list .direct_input .input_wrap input{padding:0 7px;width:100%;height:38px;line-height:38px;font-size:1.2em;font-weight:normal;color:#999999;}
.edit_list .direct_input .btn_gray{overflow:hidden;display:block;margin-top:10px;height:40px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;}
.edit_list .direct_input .btn_gray span{display:block;line-height:38px;text-align:center;letter-spacing:-0.1em;font-size:1.15em;font-weight:bold;}

.edit_list .volume{display:inline-block;margin-top:10px;}
.edit_list .volume a    {float:left;margin-left:10px;}
.edit_list .volume span {float:left;margin:0 7px 0 10px;line-height:40px;font-size:1.2em;color:#656565;}
.edit_list .volume input{float:left;padding:0 7px;width:44px;height:38px;line-height:38px;font-size:1.2em;color:#656565;text-align:right;border:1px solid #aaa;}

.edit_list .basic .price{position:absolute;right:15px;bottom:15px;}
.edit_list .add   .price{position:absolute;right:65px;bottom:15px;}

.edit_list .price .price1{display:block;text-align:right;font-size:1.2em;color:#afafaf;text-decoration:line-through;}
.edit_list .price .price2{display:block;text-align:right;font-size:1.35em;color:#212121;font-weight:bold;}
.edit_list .delete{position:absolute;right:15px;bottom:15px;margin-left:10px;}

.edit_total {clear:both;position:relative;height:60px;margin-bottom:30px;border-top:2px solid #000;border-bottom:1px solid #000;}
.edit_total .title{position:absolute;top:0;left:15px;line-height:60px;color:#2b2b2b;font-size:1.3em;}
.edit_total .total_price{display:block;padding:0 15px;line-height:60px;font-size:1.7em;text-align:right;}
.edit_total .total_price strong{color:#eb2c06;}

.sec_choices{clear:both;width:100%;margin-bottom:30px;}
.sec_choices h5{overflow:hidden;height:58px;line-height:56px;color:#0f366e;border-top:1px solid #c3d1df;border-bottom:1px solid #c3d1df;background:#e6ecf2;margin-top:-1px;}
.sec_choices h5 a{display:block;height:58px;padding:0 25px 0 15px;color:#0f366e;font-size:1.2em;letter-spacing:-0.1em;border-top:1px solid #fff;border-left:0;border-right:0;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_down.gif) no-repeat right center;}
.sec_choices h5 a.unfold{background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_arr_up.gif) no-repeat right center;}

.sec_choices .top_line{border-top:1px solid #d8d8d8;}
.sec_choices .top_line ul li .label{color:#055bc2;}
.sec_choices .top_line2{border-top:1px solid #d8d8d8;}
.sec_choices .top_line2 ul li .label{color:#676767;}
.sec_choices .selector_form{padding:15px;background:#f4f4f4;}
.sec_choices .selector_form li{position:relative;display:block;margin-top:15px;}
.sec_choices .selector_form li:first-child{margin-top:0px;}
.sec_choices .selector_form li .label{overflow:hidden;text-overflow:ellipsis;height:38px;line-height:38px;display:block;width:23%;color:#055bc2;font-size:1.2em;font-weight:bold;letter-spacing:-0.1px;}
.sec_choices .selector_form li .value,
.sec_choices .selector_form li .popup{position:absolute;top:0;right:0;width:77%;padding:0 7px;line-height:38px;-webkit-box-sizing: border-box;font-size:1.2em;color:#656565;font-weight:normal;}
.sec_choices .selector_form li .popup{overflow:hidden;display:block;height:38px;padding:0 50px 0 10px;background:white url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_sel2.png) no-repeat right -1px;border:1px solid #AAA;border-right: 0;}
.sec_choices .selector_form .btn_gray{overflow:hidden;display:block;margin-top:15px;height:40px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;}
.sec_choices .selector_form .btn_gray span{display:block;line-height:38px;text-align:center;letter-spacing:-0.1em;font-size:1.15em;}
.sec_choices .selector_form2{padding:15px;}
.sec_choices .selector_form2 .tit{padding:0 0 15px 0;color:#444;font-size:1.2em;font-weight:bold;letter-spacing:-1px;}
.sec_choices .selector_form2 .tit span{color:#8d8d8d;font-size:0.8em;font-weight:normal;}
.sec_choices .selector_form2 li{position:relative;display:block;margin-top:15px;}
.sec_choices .selector_form2 li:first-child{margin-top:0px;}
.sec_choices .selector_form2 li .label{overflow:hidden;text-overflow:ellipsis;height:38px;line-height:38px;display:block;width:23%;color:#055bc2;font-size:1.2em;font-weight:normal;letter-spacing:-0.1px;}
.sec_choices .selector_form2 li .value,
.sec_choices .selector_form2 li .popup{position:absolute;top:0;right:0;width:77%;padding:0 7px;line-height:38px;-webkit-box-sizing: border-box;font-size:1.2em;color:#656565;font-weight:normal;}
.sec_choices .selector_form2 li .popup{overflow:hidden;display:block;height:38px;padding:0 50px 0 10px;background:white url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_sel2.png) no-repeat right -1px;border:1px solid #AAA;border-right: 0;}
.sec_choices .selector_form2 .btn_gray{overflow:hidden;display:block;margin-top:15px;height:40px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;}
.sec_choices .selector_form2 .btn_gray span{display:block;line-height:38px;text-align:center;letter-spacing:-0.1em;font-size:1.15em;}


.sec_req .cho_list li{padding:0;font-size:1.1em;line-height:100%;font-weight:normal;}
.sec_req .cho_list li a{display:block;padding:0 15px;color:#656565;}
.sec_req .cho_list li.nes{padding-left:13px;background: url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 15px 50%;color:#055BC2;}
.sec_req .cho_list li.nes a{color:#055BC2}
.sec_req .cho_list li.add{padding-left:13px;margin-top:8px;background: url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_4.gif) no-repeat 15px 50%;}

.sec_cpBox .pd_list ul{color:#111;}
.sec_cpBox .pd_list li{position:relative;height:48px;line-height:48px;color:#111;border-bottom:1px solid #c3d1df;}
.sec_cpBox .pd_list .p_tit{display:block;padding-left:15px;font-size:1.2em;}
.sec_cpBox .pd_list .pirce{position:absolute;top:0;right:15px;display:block;font-size:1.2em;}

.sec_cpBox .sec_modi{position:relative;height:60px;color:#055bc2;border:1px solid #c3d1df;border-left:0;border-right:0;background:#e6ecf2;font-size:1.2em}
.sec_cpBox .sec_modi .title{position:absolute; top:19px; left:15px;display:block}
.sec_cpBox .sec_modi .ccWrap{position:absolute; top:10px; right:15px;}
.sec_cpBox .sec_modi .ccWrap input{width:42px;height:30px;padding:5px 10px 3px 2px;border-left:0;border-right:0;text-align:right}
.sec_cpBox .sec_goods{border:1px solid #e6ecf2;background:#e6ecf2;font-size:1.2em;color:#055bc2;border-bottom:1px solid #c3d1df;}
.sec_cpBox .sec_goods a{display:block;padding:16px 15px;color:#055bc2;}
.sec_cpBox .sec_add{position:relative;height:60px;color:#656565; border:1px solid #e6ecf2;background:#fff;font-size:1.2em}
.sec_cpBox .sec_add .title{position:absolute; top:15px; left:15px;display:block}
.sec_cpBox .sec_add .ccWrap{position:absolute; top:10px; right:15px;}
.sec_cpBox .sec_add .ccWrap input{width:42px;height:30px;padding:5px 10px 3px 2px;border-left:0;border-right:0;text-align:right}

.sec_cpBox .sale_list{padding:15px 15px 0 15px;}
.sec_cpBox .sale_list li{margin-top:15px;color:#656565;font-size:1.2em;font-weight:normal;}
.sec_cpBox .sale_list li:first-child{margin-top:0px;}
.sec_cpBox .sale_list li .title{display:block;margin-bottom:10px;}
.sec_cpBox .sale_list li .icon{margin-right:5px;}
.sec_cpBox .sale_list li .popup{width:100%;padding:0 7px;line-height:38px;-webkit-box-sizing: border-box;font-size:1.0em;color:#656565;font-weight:normal;}
.sec_cpBox .sale_list li .popup{overflow:hidden;display:block;height:38px;padding:0 50px 0 10px;background:white url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/btn_sel2.png) no-repeat right -1px;border:1px solid #AAA;border-right: 0;}

.sec_cpBox .use_coupon{overflow:hidden;overflow-y:scroll;margin-bottom:10px;height:165px;border:1px solid #e3e3e3;background:#f5f5f5;}
.sec_cpBox .use_coupon li{padding:10px 15px;border-top:1px solid #e3e3e3;font-size:1.2em;color:#999}
.sec_cpBox .use_coupon li strong{color:#656565}
.sec_cpBox .use_coupon input{margin-right:10px;}

.install{width:100%;display:inline-block;}
.install ul{width:420px;margin:0 auto;}
.install li{float:left;width:50%;text-align:center}
.install a{display:block;width:202px;border:1px solid #565656;box-shadow:0 0 1px 0 #e5e5e5;line-height:43px;}
.install a span{display:block;width:198px;height:43px;font-size:0.9em;color:#fff;text-align:left;}
.install .btn_iphone {border:1px solid #565656;background:#5e5e5e url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/ico_apple.gif) no-repeat 23px center;}
.install .btn_iphone span{width:152px;padding-left:48px;border:1px solid #7b7b7b;}
.install .btn_android {border:1px solid #89af13;background:#97bd20 url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/ico_android.gif) no-repeat 12px center;}
.install .btn_android span{width:162px;padding-left:38px;border:1px solid #aac948;letter-spacing:-1px;}

/* [2012/06/08] 장바구니 변경 */
.cart_cts{padding-bottom:10px;background:#e3e3e3;}

.cart .goods_info{position:relative;border:1px solid #bdbdbd;border-bottom:none;padding:15px 0px;}
.cart .goods_info .checkbox{position:absolute;left:0;top:20px;width:27px;margin-top:25px;margin-left:10px;text-align:left;}
.cart .goods_info .alink{position:relative;display:block;height:80px;margin:0 40px;}
.cart .goods_info .thumbnail{position:absolute;left:0;top:0;margin-right:7px;border:1px solid #d2d2d2;width:78px;height:78px;}
.cart .goods_info .name{display:block;overflow:hidden;height:50px;line-height:25px;padding:15px 10px 0 90px;font-size:1.2em;font-weight:normal;letter-spacing:-1px;}
.cart .goods_info .btn_del{clear:both;position:absolute;right:15px;top:50%;margin-top:-16px;height:32px;width:32px;}

.cart .selected_info{border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_dot.gif) repeat-x 0 top;}
.cart .selected_info .type1{position:relative;}
.cart .selected_info .type1 .text{display:block;overflow:hidden;height:55px;padding-left:25px;padding-right:10px;margin-right:137px;font-size:1.1em;color:#055BC2;letter-spacing:-1px;line-height:55px;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 15px center;}
.cart .selected_info .type1 .buttons{position:absolute;right:15px;top:50%;height:34px;margin-top:-17px;}

.cart .selected_info .type2_1{position:relative;padding-top:18px;padding-bottom:15px;}
.cart .selected_info .type2_1 .detail{padding-right:10px;margin-right:71px;letter-spacing:-1px;}
.cart .selected_info .type2_1 .detail li:first-child{margin-top:0px;}
.cart .selected_info .type2_1 .detail li{padding-left:25px;margin-top:8px;font-size:1.1em;color:#656565;line-height:100%;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_4.gif) no-repeat 15px 8px;}
.cart .selected_info .type2_1 .detail li.full{padding-left:15px;background:none;}
.cart .selected_info .type2_1 .detail li.essential{color:#055BC2;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_3.gif) no-repeat 15px 8px;}
.cart .selected_info .type2_1 .buttons{position:absolute;right:15px;top:50%;height:34px;margin-top:-17px;}

.cart .selected_info .type2_2{background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_dot.gif) repeat-x 0 top;padding:15px 0;}
.cart .selected_info .type2_2 .options{padding-right:10px;margin-right:71px;}
.cart .selected_info .type2_2 .options li{padding-left:25px;margin-top:8px;font-size:1.1em;color:#656565;line-height:100%;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_4.gif) no-repeat 15px 8px;}
.cart .selected_info .type2_2 .options li:first-child{margin-top:0px;}

.cart .price_info{position:relative;overflow:auto;border:1px solid #bdbdbd;padding:15px 137px 15px 0;}
.cart .price_info .text{float:left;line-height:34px;display:block;padding-left:25px;font-size:1.1em;color:#eb2c06;letter-spacing:-1px;font-weight:normal;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bul_sq_8.gif) no-repeat 15px 16px;}
.cart .price_info .text .price{font-size:1.2em;}

.cart .price_info .btn_coupon{float:left;display:inline-block;width:80px;height:32px;margin-left:5px;margin-right:1px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;border:1px solid #eb2c06;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_btn_red_gradation34.png) repeat-x;}
.cart .price_info .btn_coupon span{display:block;line-height:30px;text-align:center;letter-spacing:-0.1em;font-size:1em;border:1px solid #fff;color:#ec3a17;}

.cart .price_info .btn_buy{position:absolute;right:15px;top:15px;display:inline-block;width:120px;height:32px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;border:1px solid #004dab;background:#004dab;}
.cart .price_info .btn_buy span{display:block;line-height:30px;text-align:center;letter-spacing:-0.1em;font-size:1em;border:1px solid #3372be;background:#055bc2;color:#fff;}

.cart .delivery_text{clear:both;overflow:hidden;height:48px;line-height:48px;padding:0 15px;background:#f4f4f4;border:1px solid #bdbdbd;border-top:0;background:#f4f4f4;font-size:1.1em;colo:#2b2b2b;letter-spacing:-1px;font-weight:normal;}

.cart .btn_order{margin:0 15px;display:block;height:53px;box-shadow:0 2px 2px #d1d1d1;text-decoration:none;border:1px solid #004dab;background:#004dab;}
.cart .btn_order span{display:block;line-height:51px;text-align:center;font-size:1.4em;border:1px solid #3372be;background:#055bc2;color:#fff;}

.cart .empty_cart{margin:0 15px;border:1px solid #b9b9b9;background:#fff;}
.cart .empty_cart .inner_line{border:4px solid #f9f9f9;}
.cart .empty_cart .alert_logo{height:150px;text-align:center;overflow:hidden;display:block;margin:0 25px;text-align:center;font-weight:normal;}
.cart .empty_cart .alert_logo img{margin-top:44px;}
.cart .empty_cart .alert_msg{height:68px;line-height:68px;font-size:1.2em;background:url(http://image.gmarket.co.kr/Gmarket_Mobile_v2/480/bg_dot.gif) repeat-x 0 top;overflow:hidden;display:block;margin:0 25px;text-align:center;font-weight:normal;}