<?xml version="1.0" encoding="utf-8"?>
<!-- 
    참고: App.config 파일에는 테스트 프로젝트에만 적용되는 구성 설정
     항목을 추가하십시오.
-->
<configuration>
	<configSections>
		<sectionGroup name="archefx.configuration">
			<section name="data" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArcheFxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
			<section name="diagnostics" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArchefxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
		</sectionGroup>
		<sectionGroup name="gmkt.configuration">
			<section name="siteOff" type="GMKT.Web.Configuration.SiteOffConfigSection, GMKT.Web, Version=1.0.0.0, Culture=neutral" />
			<section name="urls" type="GMKT.Web.Configuration.UrlConfigSection, GMKT.Web, Version=1.0.0.0, Culture=neutral" />
			<section name="diver" type="GMKT.Configuration.DiverConfigSection, GMKT.GMobile, Version=1.0.0.0, Culture=neutral" />
		</sectionGroup>
	</configSections>
	<archefx.configuration>
		<data>
			<connectionStrings>
				<connectionString name="tiger_read" value="Data Source=GDEVDB01,3950;Initial Catalog=tiger;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
				<connectionString name="tiger_write" value="Data Source=GDEVDB01,3950;Initial Catalog=tiger;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
			</connectionStrings>
		</data>
	</archefx.configuration>
	<gmkt.configuration>
		<urls>
			<contentUrls>
				<add name="cssRoot" value="http://script.esmplus.com/css" secureValue="https://script.esmplus.com/css/ssl" />
				<add name="imageRoot" value="http://pics.esmplus.com" />
				<add name="scriptRoot" value="http://script.esmplus.com" />
			</contentUrls>
			<linkUrls>
				<add name="home" value="http://test.com" />
				<add name="GDIMG1_IMAGE_SERVER_URL" value="http://devgdimg1.gmarket.co.kr/" />
				<add name="loginUrl" value="http://m.gmarket.co.kr/Login/login.asp" />
				<add name="adultGoodsViewAgreeConfirm" value="http://m.gmarket.co.kr/Goods/AdultGoodsViewAgreeConfirm.asp?check_yn=Y" />
				<add name="mobileImageUrl" value="http://image.gmarket.co.kr/Gmarket_Mobile_new" />
				<add name="mWebUrl" value="http://m.gmarket.co.kr" />
				<add name="mobileWebUrl" value="http://local-mobile.gmarket.co.kr" />
				<add name="mwWebUrl" value="http://mw.gmarket.co.kr" />
				<add name="gmApiUrl" value="http://gmapidev.gmarket.co.kr" />
			</linkUrls>
		</urls>
		<diver>
			<connectionStrings>
				<add name="DIVER4_ETC2" host="172.30.134.218" port="5555" />
				<add name="DIVER4_ACCURACY" host="172.30.134.216" port="5555" />
			</connectionStrings>
		</diver>
	</gmkt.configuration>
	<appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Thrift" publicKeyToken="a9e3faefbed5f85e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.2.0" newVersion="0.9.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
