<?xml version="1.0" encoding="utf-8" ?>
<voyagerConfiguration>
	<xmlSerializerSection type="Arche.Data.Voyager.Configuration.VoyagerSettings,Arche.Data.Voyager">
		<arche.voyagerSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.auction.co.kr/arche/voyager"  defaultVoyager="GShopItems" voyagerLogging="true" synonymLogging="true">
			<voyagers>
				<voyager name="GSearchItems" connectionString="data source=172.30.134.83:9090"/>
				<voyager name="GCategoryItems" connectionString="data source=172.30.134.84:9090"/>
				<voyager name="FilterFinder" connectionString="data source=172.30.134.136:80"/>
			</voyagers>
		</arche.voyagerSettings>
	</xmlSerializerSection>
</voyagerConfiguration>