@using GMKT.GMobile.Util;
@using GMKT.GMobile.Constant;
@{
    string SnaService = "703700008";  //이용약관 FCD 코드
    string SnaPayInfo = "703700005";    //결제안내 FCD 코드
}
<script type="text/javascript">

    function getUrl(defaultUrl) {

        var currentUrlpath = window.location.pathname.toLowerCase();
        var laststr = currentUrlpath.substr(-1, 1)
        if (laststr == "/") {
            currentUrlpath = currentUrlpath.substr(0, currentUrlpath.length - 1);
        }
        //alert("currentUrlpath :" + currentUrlpath);

        switch (currentUrlpath) {
            case "/eventzone/mybenefithome":
            case "/eventzone/mybenefit":
            case "/eventzone/mybenefitcoupon":
            case "/eventzone/couponcategory":
            case "/pluszone":
            case "/eventzone/mybenefitvip":
            case "/gstamp":
            case "/gstamp/1":
                location.href = "http://promotion.gmarket.co.kr/eventzone/Info.asp";
                break;
            case "/display/bestsellerlist":
                location.href = "http://promotion.gmarket.co.kr/bestseller/BestSeller.asp";
                break;
            case "/display/today":
                location.href = "http://promotion.gmarket.co.kr/eventzone/Today.asp";
                break;
            case "/display/specialshoppinglist":
                location.href = "http://promotion.gmarket.co.kr/planshop/planshop.asp"
                break;
            case "/search/search":
                var topkeyword = document.sCategoryFrm.keyword.value;
                var frm = document.createElement("form");
                frm.name = "frmPcSearch";
                frm.method = "GET";
                frm.acceptCharset = "euc-kr";
                frm.action = "http://search.gmarket.co.kr/search.aspx";
                var keyword = document.createElement("input");
                keyword.type = "hidden";
                keyword.name = "keyword";
                keyword.value = topkeyword;
                frm.appendChild(keyword);
                document.body.appendChild(frm);
                frm.submit();
                break;
            case "/category/category":
                var lcId = document.categoryForm.lcId.value;
                location.href = "http://category.gmarket.co.kr/listview/L" + lcId + ".aspx";
                break;
            case "/category/list":
                var lcId = document.categoryForm.lcId.value;
                var mcId = document.categoryForm.mcId.value;
                var scId = document.categoryForm.scId.value;
                if (scId == "" && mcId == "") {
                    location.href = "http://category.gmarket.co.kr/listview/L" + lcId + ".aspx";
                }
                else if (scId == "") {
                    location.href = "http://category.gmarket.co.kr/listview/List.aspx?gdmc_cd=" + mcId + "&ecp_gdlc=" + lcId;
                }
                else {
                    location.href = "http://category.gmarket.co.kr/listview/List.aspx?gdsc_cd=" + scId + "&ecp_gdlc=" + lcId + "&ecp_gdmc=" + mcId + "";
                }
                break;
            case "/display/specialshopping":
                var sid = document.getElementById("sid").value;
                location.href = "http://promotion.gmarket.co.kr/planview/plan.asp?sid=" + sid;
                break;
            default:
                location.href = defaultUrl;
                break;

        }
    }
        
</script>

@if (PageAttr.ViewFooter == true)
{
	<!-- FOOTER -->
	<div id="ft">
		<div class="fnb">
			<ul>
				<li>
                  @if (PageAttr.IsLogin == true)
                  {
					<a href="http://sna.gmarket.co.kr/?fcd=703700003&url=@ConstDef._GMW_LOGOUT_URL">로그아웃</a>
                  }
                  else
                  {
                      <a href="http://sna.gmarket.co.kr/?fcd=703700003&url=@Urls.LoginUrl">로그인</a>
                  }
				</li>
				<li><a href="javascript:getUrl('@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "703700004", "http://www.gmarket.co.kr/?sL=MW")')">PC버전 보기</a></li>
                <li><a href="http://sna.gmarket.co.kr/?fcd=703700005&url=@Urls.MobileWebUrl/customercenter">고객센터</a></li>
				<li><a href="http://sna.gmarket.co.kr/?fcd=703700006&url=#" onclick="window.scrollTo(0, 1);return false;">맨위로</a></li>
			</ul>
		</div>
		<div class="addr">
			<address><span>(주)</span><em>이베이코리아</em> 대표이사 : 변광윤<br />사업자등록번호 : 220-81-83676 통신판매업신고 : 강남 10630호<br />서울시 강남구 역삼동 737 강남파이낸스센터 34층</address>
			<p>고객센터 : <em>1566-5701</em><br />상담가능시간 : 오전9시-오후6시(토요일, 공휴일 휴무)</p>
		    <a href="http://www.ftc.go.kr/info/bizinfo/communicationList.jsp" class="bsn" onclick="javascript:SnaUrlFooter('703700007');"><span>사업자정보확인</span></a>
			<a href="http://sna.gmarket.co.kr/?fcd=703700009&url=http://www.gmarket.co.kr/challenge/neo_help/policy01.asp" class="btn_info" >
                <span>개인정보 취급방침</span>
            </a>
			<a href="http://sna.gmarket.co.kr/?fcd=703700008&url=@Urls.MMyGUrl/Service" class="terms">
				<span>이용약관</span>
			</a>
            <p>G마켓은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 G마켓은 상품ㆍ거래정보 및 거래에 대하여 책임을 지지 않습니다.</p>
			<p class="copy">Copyright &copy;<em>eBay Korea Co., Ltd.</em> All rights reserved</p>
		</div>
	</div>
	<!-- //FOOTER -->
 
    <script type="text/javascript">
        function fnSubFooterGoInstall()
        {
            if ( navigator.userAgent.indexOf("iPhone") > -1 || navigator.userAgent.indexOf("iPad") > -1 || navigator.userAgent.indexOf("iPod") > -1 )
                location.href = "@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000012", "http://itunes.apple.com/kr/app/gmarket/id340330132?mt=8")";
            else // 안드로이드
                location.href = "@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000012", "market://market.android.com/details?id=com.ebay.kr.gmarket")";
        }

        function SnaUrlFooter(fcd){ 
           $.post("http://sna.gmarket.co.kr/?fcd=" + fcd);
        }
    </script>
    <!--// FOOTER -->
}
</div>
<!--// WRAPPER -->
