			<ul id="ntc">
				<li><span>공지사항</span><a href="#">[당첨자발표]모바일 출석체크 이벤트 당첨 안내모바일 출석체크 이벤트 당첨 안내모바일 출석체크 이벤트 당첨 안내모바일 출석체크 이벤트 당첨 안내</a></li>
				<li><span>공지사항</span><a href="#">[당첨자발표1]모바일 출석체크출석체크 이벤트 당첨 안내</a></li>
				<li><span>공지사항</span><a href="#">[당첨자발표2]모바일 출석출석출석 이벤트 당첨 안내</a></li>
				<li><span>공지사항</span><a href="#">[당첨자발표3]모바일 출크출크출크출크 이벤트 당첨 안내</a></li>
				<li><span>공지사항</span><a href="#">[당첨자발표4]모바일 출체출체출체 이벤트 당첨 안내</a></li>
			</ul>
			<a href="#" class="ntc_more">더보기</a>