@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Constant;

@{
    ViewBag.Title = "CouponCategory";
}

<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
	}
</script>

<hr />

	<!-- CONTENT -->
	<div id="content" class="ctns">
		
		<div class="mkt">
			<div class="cate_wrap">
				<h3>쿠폰별 사용가능 카테고리</h3>
				@if (DateTime.Now < new DateTime(2014, 9, 1, 0, 0, 0))
				{
					<img src="@Urls.MobileImageUrlV2/640/img_member_cate.gif" alt="" class="cate" />
				}
				else
				{
					<img src="@Urls.MobileImageUrlV2/640/img_member_cate2.gif" alt="" class="cate" />
				}
			</div>
		</div>
	
	</div>
	<!-- //CONTENT -->

<hr />
