@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Constant;

@{
    ViewBag.Title = "MobileFirstBuy";

	DateTime endDay = DateTime.Parse("2014-01");
	DateTime toDay = DateTime.Parse(DateTime.Now.ToString("yyyy-MM"));

	bool bOldImage = false;

	if ( endDay >= toDay )
	{
		bOldImage = true;
	}
}

<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
	}
</script>

<hr />

	<!-- CONTENT -->
	<div id="content" class="ctns">
		
		<div class="mkt">
			<div class="cate_wrap">
            <h3>모바일 첫구매 쿠폰안내</h3>
 @if (bOldImage)
 {
				<img src="@Urls.MobileImageUrlV2/640/txt_firstbuy_a.gif" alt="" class="cate" />
 }
 else
 {
				<img src="@Urls.MobileImageUrlV2/640/coupon/firstbuy_notice_@(toDay.ToString("yyyyMM")).gif" 
				alt="" class="cate" />
 }
			</div>
		</div>
	
	</div>
	<!-- //CONTENT -->

<hr />
