<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="archefx.configuration">
      <section name="data" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArcheFxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
      <section name="diagnostics" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArchefxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="api.configuration" type="ConnApi.Client.ApiConfigurationSection, ConnApi.Client" />
    <sectionGroup name="gmkt.configuration">
      <section name="siteOff" type="GMKT.Web.Configuration.SiteOffConfigSection, GMKT.Web, Version=1.0.0.0, Culture=neutral" />
      <section name="urls" type="GMKT.Web.Configuration.UrlConfigSection, GMKT.Web, Version=1.0.0.0, Culture=neutral" />
      <section name="diver" type="GMKT.Configuration.DiverConfigSection, GMKT.GMobile, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
    <sectionGroup name="gmobile.configuration">
      <section name="externalApi" type="GMKT.GMobile.ExternalApi.ExternalApiConfigSection, GMKT.GMobile.ExternalApi" />
    </sectionGroup>
    <sectionGroup name="sns.configuration">
      <section name="urls" type="GMKT.Component.Sns.Configuration.UrlsConfigurationSection, GMKT.Component.Sns" />
      <section name="snsInfo" type="GMKT.Component.Sns.Configuration.SnsInfoConfigurationSection, GMKT.Component.Sns" />
    </sectionGroup>
  </configSections>
  <gmkt.configuration>
    <siteOff configSource="sync\siteoff.config" />
    <urls>
      <contentUrls>
        <add name="cssRoot" value="http://script.esmplus.com/css" secureValue="https://script.esmplus.com/css/ssl" />
        <add name="imageRoot" value="http://pics.esmplus.com" />
        <add name="scriptRoot" value="http://script.esmplus.com" />
      </contentUrls>
      <linkUrls>
        <add name="home" value="http://test.com" />
        <add name="GDIMG1_IMAGE_SERVER_URL" value="http://gdimg1.gmarket.co.kr/" />
        <add name="GDIMG1_IMAGE_SERVER_URL_SSL" value="https://sslgdimg1.gmarket.co.kr/" />
        <add name="GDIMG3_IMAGE_SERVER_URL" value="http://gdimg3.gmarket.co.kr/" />
        <add name="GDIMG3_IMAGE_SERVER_URL_SSL" value="https://sslgdimg3.gmarket.co.kr/" />
        <add name="GDIMG4_IMAGE_SERVER_URL" value="http://gdimg4.gmarket.co.kr/" />
        <add name="GDIMG4_IMAGE_SERVER_URL_SSL" value="https://sslgdimg4.gmarket.co.kr/" />
        <add name="GDIMG5_IMAGE_SERVER_URL" value="http://gdimg5.gmarket.co.kr/" />
        <add name="GDIMG5_IMAGE_SERVER_URL_SSL" value="https://sslgdimg5.gmarket.co.kr/" />
				<add name="loginUrl" value="http://mdev.gmarket.co.kr/Login/login_mw.asp" />
				<add name="logoutUrl" value="http://mdev.gmarket.co.kr/Login/logout.asp" />
        <add name="adultGoodsViewAgreeConfirm" value="http://mdev.gmarket.co.kr/Goods/AdultGoodsViewAgreeConfirm.asp?check_yn=Y" />
        <add name="mobileImageUrl" value="http://image.gmarket.co.kr/Gmarket_Mobile_new" />
        <add name="mobileImageUrlSecure" value="https://sslimage.gmarket.co.kr/Gmarket_Mobile_new" />
        <add name="mobileImageUrlV2" value="http://image.gmarket.co.kr/Gmarket_Mobile_v2" />
        <add name="mobileImageUrlV2Secure" value="https://sslimage.gmarket.co.kr/Gmarket_Mobile_v2" />
        <add name="mobileImageShortUrl" value="http://image.gmkt.kr/mobile" />
        <add name="mobileImageShortUrlSecure" value="https://image.gmkt.kr/mobile" />
        <add name="mWebUrl" value="http://mdev.gmarket.co.kr" />
        <add name="mobileWebUrl" value="http://local-mobile.gmarket.co.kr" />
        <add name="mobileWebUrlSecure" value="https://local-mobile.gmarket.co.kr" />
        <add name="mwWebUrl" value="http://mw.gmarket.co.kr" />
        <add name="scriptUrl" value="http://scriptdev.gmarket.co.kr" />
        <add name="scriptUrlSecure" value="https://scriptdev.gmarket.co.kr" />
        <add name="styleUrl" value="http://scriptdev.gmarket.co.kr/css/mobile/main" />
        <add name="styleUrlSecure" value="https://scriptdev.gmarket.co.kr/css/mobile/main/ssl" />
        <add name="styleUrlV2" value="http://scriptdev.gmarket.co.kr/mobile/css" />
        <add name="styleUrlV2Secure" value="https://scriptdev.gmarket.co.kr/mobile/css" />
        <add name="mescrowUrl" value="http://devmescrow.gmarket.co.kr" />
        <add name="mescrowUrlSecure" value="https://devmescrow.gmarket.co.kr" />
        <add name="eventRoot" value="http://eventdev.gmarket.co.kr" secureValue="http://eventdev.gmarket.co.kr" />
        <add name="eventNetRoot" value="http://devevent2.gmarket.co.kr" />
        <add name="mmygUrl" value="http://mmygdev.gmarket.co.kr" />
        <add name="mItemWebUrl" value="http://mitemdev.gmarket.co.kr" />
        <add name="gmApiUrl" value="http://gmapidev.gmarket.co.kr" />
        <add name="NVistaUrl" value="http://tdisplay.nvista.co.kr" />
        <add name="shopStyleUrl" value="http://scriptdev.gmarket.co.kr/css/mobile/shop/320" />
        <add name="promotionUrl" value="http://promotiondev.gmarket.co.kr" />
        <add name="mobileImagePics" value="http://picsdev.gmarket.co.kr" />
        <add name="mDeliveryUrl" value="http://mdelivery.gmarket.co.kr" />
        <add name="mobileG9Url" value="http://mdev.g9.co.kr" />
        <add name="coreRootUrl" value="http://dev.gmarket.co.kr" />
        <add name="memberSignInRootSecure" value="https://ssldevmember2.gmarket.co.kr"/>
      </linkUrls>
      <redirectionUrls>
        <add name="RedirectionLogin" value="http://mdev.gmarket.co.kr/Login/login_mw.asp" />
        <add name="RedirectionKakaotalkLogin" value="http://mdev.gmarket.co.kr/Login/login_kakao.asp" />
      </redirectionUrls>
    </urls>
    <diver>
      <connectionStrings>
        <add name="DIVER4_ETC2" host="172.30.134.218" port="5555" />
        <!--add name="DIVER4_ACCURACY" host="172.30.134.216" port="5555" /-->
        <!--add name="DIVER4_ACCURACY" host="172.30.146.77" port="5555" /-->
        <add name="DIVER4_ACCURACY" host="121.254.132.176" port="5555" />
      </connectionStrings>
    </diver>
  </gmkt.configuration>
  <sns.configuration>
    <urls>
      <domains>
        <add domain="snsurl" link="sns.gmarket.co.kr" />
      </domains>
    </urls>
    <snsInfo defaultApp="GMAREKT_FRONT">
      <facebook>
        <info>
          <add id="authorize" value="https://graph.facebook.com/v2.3/oauth/authorize" />
          <add id="accessToken" value="https://graph.facebook.com/v2.3/oauth/access_token" />
          <add id="callback" value="Sns/FacebookCallBack" />
          <add id="verifyCredentials" value="https://graph.facebook.com/v2.3/me" />
          <add id="scope" value="publish_actions" />
          <add id="feedURL" value="https://graph.facebook.com/v2.3/me/feed" />
        </info>
        <apps>
          <add name="FACEBOOK_GMAREKT_BBS" consumerKey="1403722356549612" consumerSecretKey="533c349c22929cde37a5ae15117175a6" useCookie="true" />
        </apps>
      </facebook>
      <twitter>
        <info>
          <add id="authorize" value="https://twitter.com/oauth/authorize" />
          <add id="requestToken" value="https://twitter.com/oauth/request_token" />
          <add id="accessToken" value="https://twitter.com/oauth/access_token" />
          <add id="callback" value="Auth/GetAuthorizationToken?snsKind=twitter" />
          <add id="verifyCredentials" value="https://api.twitter.com/1.1/account/verify_credentials.json" />
          <add id="feedURL" value="https://api.twitter.com/1.1/statuses/update.json" />
        </info>
        <apps>
          <add name="TWITTER_GMAREKT_BBS" consumerKey="FYCHHqPLpdXEwvrEb5kboA" consumerSecretKey="brgrsSpuRiiiidw5ZmRZC8xvqI5wcdIDYrDaptI" useCookie="true" />
        </apps>
      </twitter>
    </snsInfo>
  </sns.configuration>

  <gmobile.configuration>
    <externalApi>
      <endpoints>
        <add name="GMobileAPI.ADBanner" url="http://mobilecom.gmarket.co.kr/GMobile.Smart.webservice/exa100/Ad/AdBannerService.asmx" timeout="60000" />
        <add name="GMobileAPI.EtcShop" url="http://mobilecom.gmarket.co.kr/GMobile.Smart.webservice/exa100/shop/etcshop.asmx" timeout="60000" />
        <add name="GTicketAPI.StdBookingService" url="http://ticketdev.gmarket.co.kr/GTicketWebService/StdBookingService.asmx" timeout="60000" />
        <add name="GTicketAPI.SeatService" url="http://ticketdev.gmarket.co.kr/GTicketWebService/SeatService.asmx" timeout="60000" />
      </endpoints>
    </externalApi>
  </gmobile.configuration>
  <api.configuration>
    <settings timeout="8000" />
    <apis>
      <!--<api name="GMApi" baseUrl="gad10.gmarket.co.kr">-->
      <api name="GMApi" baseUrl="gmapidev.gmarket.co.kr">
        <headers>
          <add name="Authorization" value="Basic IQBtAGYANQBNADAARwBSADcANgBkAHQANABwADEAYgBOADUAZgBOAFoAKwB3AEwAYQBiAG0ASgBMADIAWgA4AGsASwB0AEkAYQB2AHoATABhAHEAOQArAE8AbQBtADQAZgBWAE0AQwBhADIAZwAxAEIAcgB2AHQAeQBJAFoAcABxAGIAWABMAC8AQwB4AFQASwA1AE8ARAAzAHYAUABLADEAdgBmAFEAYwArAHkARQB4ADMAMgAwAFUAbABVAEYAMABPAGkAUwAyADMANwB4AGwAaQB6AFQANABqAEUANgBWAHIAcwBaADIAZgA4AEIARQBOAFEAWQBnADYANQA2AGoA" />
          <!-- 운영 -->
          <!--add name="Authorization" value="Basic IQB6AHQAeABLAE4AbABZAC8AdAB1AFEARgBJAG4ARgBTAGgAcwBqAG4AbABiAHQANwBvAFMAeABuAFIASQBLAHcATgBEAEwAbgBJAFkASABoAFUANwBFAHcAOQBpAFUASQAwAHkAbABpAE0AYwB6ADQAUgBTAE0AUABRAEwAawBGAGEATwBYAC8AcwA0AFkAdgBTACsAMwByADMAYgB2AE0ASgBHAE4AagBKADgAaABMAHEAMgBFAFIASwB2AEkAbQBBADUAMQBJAEIATQB6ADEAawBjAHYAcQBZAFAATABDAHkAMQBXAHgAUgB0AG8AaQB5AHkAUgAzAFUANgBhADQA" /-->
          <add name="Accept" value="application/json" />
          <add name="App-Info" value="WEB" />
					<add name="Web-App-Info" value="from=cookie" />
					<add name="Web-OS-Type" value="from=cookie" />
        </headers>
        <bodys></bodys>
      </api>
      <api name="GMApiSsl" baseUrl="https://gmapidev.gmarket.co.kr">
        <headers>
          <add name="Authorization" value="Basic IQBtAGYANQBNADAARwBSADcANgBkAHQANABwADEAYgBOADUAZgBOAFoAKwB3AEwAYQBiAG0ASgBMADIAWgA4AGsASwB0AEkAYQB2AHoATABhAHEAOQArAE8AbQBtADQAZgBWAE0AQwBhADIAZwAxAEIAcgB2AHQAeQBJAFoAcABxAGIAWABMAC8AQwB4AFQASwA1AE8ARAAzAHYAUABLADEAdgBmAFEAYwArAHkARQB4ADMAMgAwAFUAbABVAEYAMABPAGkAUwAyADMANwB4AGwAaQB6AFQANABqAEUANgBWAHIAcwBaADIAZgA4AEIARQBOAFEAWQBnADYANQA2AGoA" />
          <!-- 운영 -->
          <!--add name="Authorization" value="Basic IQB6AHQAeABLAE4AbABZAC8AdAB1AFEARgBJAG4ARgBTAGgAcwBqAG4AbABiAHQANwBvAFMAeABuAFIASQBLAHcATgBEAEwAbgBJAFkASABoAFUANwBFAHcAOQBpAFUASQAwAHkAbABpAE0AYwB6ADQAUgBTAE0AUABRAEwAawBGAGEATwBYAC8AcwA0AFkAdgBTACsAMwByADMAYgB2AE0ASgBHAE4AagBKADgAaABMAHEAMgBFAFIASwB2AEkAbQBBADUAMQBJAEIATQB6ADEAawBjAHYAcQBZAFAATABDAHkAMQBXAHgAUgB0AG8AaQB5AHkAUgAzAFUANgBhADQA" /-->
          <add name="Accept" value="application/json" />
          <add name="App-Info" value="WEB" />
					<add name="Web-App-Info" value="from=cookie" />
        </headers>
        <bodys></bodys>
      </api>

      <api name="MEscrow" baseUrl="devmescrow.gmarket.co.kr">
        <headers>
          <add name="Authorization" value="Basic IQBtAGYANQBNADAARwBSADcANgBkAHQANABwADEAYgBOADUAZgBOAFoAKwB3AEwAYQBiAG0ASgBMADIAWgA4AGsASwB0AEkAYQB2AHoATABhAHEAOQArAE8AbQBtADQAZgBWAE0AQwBhADIAZwAxAEIAcgB2AHQAeQBJAFoAcABxAGIAWABMAC8AQwB4AFQASwA1AE8ARAAzAHYAUABLADEAdgBmAFEAYwArAHkARQB4ADMAMgAwAFUAbABVAEYAMABPAGkAUwAyADMANwB4AGwAaQB6AFQANABqAEUANgBWAHIAcwBaADIAZgA4AEIARQBOAFEAWQBnADYANQA2AGoA" />
          <!-- 운영 -->
          <!--add name="Authorization" value="Basic IQB6AHQAeABLAE4AbABZAC8AdAB1AFEARgBJAG4ARgBTAGgAcwBqAG4AbABiAHQANwBvAFMAeABuAFIASQBLAHcATgBEAEwAbgBJAFkASABoAFUANwBFAHcAOQBpAFUASQAwAHkAbABpAE0AYwB6ADQAUgBTAE0AUABRAEwAawBGAGEATwBYAC8AcwA0AFkAdgBTACsAMwByADMAYgB2AE0ASgBHAE4AagBKADgAaABMAHEAMgBFAFIASwB2AEkAbQBBADUAMQBJAEIATQB6ADEAawBjAHYAcQBZAFAATABDAHkAMQBXAHgAUgB0AG8AaQB5AHkAUgAzAFUANgBhADQA" /-->
          <add name="Accept" value="application/json" />
          <add name="App-Info" value="WEB" />
        </headers>
        <bodys></bodys>
      </api>

    </apis>
  </api.configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-GMKT.GMobile.Web-20121203162258;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Kakao_Plus_Key" value="284474693283573760" />

    <add key="TwitterConsumerKey" value="FYCHHqPLpdXEwvrEb5kboA" />
    <add key="TwitterConsumerSecret" value="brgrsSpuRiiiidw5ZmRZC8xvqI5wcdIDYrDaptI" />
    <add key="FacebookConsumerKey" value="1403722356549612" />
    <add key="FacebookConsumerSecret" value="533c349c22929cde37a5ae15117175a6" />

    <!--add key="Kakao_Plus_Key" value="293627814861697024" /-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error" />
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <trace enabled="true" />
    <sessionState mode="Off" />
    <!--globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987" /-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Collections" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <httpModules>
      <add name="Shutterman" type="ProductMaintenance.Client.AspNet.MaintenanceModule, ProductMaintenance.Client.AspNet" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Filter" type="GMKT.Web.GMKTHttpModule, GMKT.Web" preCondition="managedHandler" />
      <add name="Shutterman" type="ProductMaintenance.Client.AspNet.MaintenanceModule, ProductMaintenance.Client.AspNet" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="200" />
        </add>
      </traceFailedRequests>
    </tracing>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <archefx.configuration>
    <diagnostics>
      <trace autoFlush="true" indentSize="2">
        <exceptionHandlers>
          <exceptionHandler name="GMobileExceptionHandler" type="GMKT.GMobile.Web.ExceptionHandler, GMKT.GMobile.Web" />
        </exceptionHandlers>
        <listeners>
          <!-- DEV -->
          <listener name="GMKTSqlDbTrace" type=" GMKT.GMobile.Diagnostics.SqlDbTraceListener, GMKT.GMobile">
            <option systemName="Mobile" connectionString="data source=GDEVDB02,3950;initial catalog=Exception;uid=backend;pwd=admin3950;Application Name=GMobileWeb" />
          </listener>
        </listeners>
      </trace>
    </diagnostics>
    <data>
      <connectionStrings>
        <connectionString name="tiger_read" value="Data Source=GDEVDB01,3950;Initial Catalog=tiger;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
        <connectionString name="tiger_write" value="Data Source=GDEVDB01,3950;Initial Catalog=tiger;UID=Gfrontwriter;PWD=gfw3950;Connection Reset=false" />
        <connectionString name="item_read" value="Data Source=GDEVDB02,3950;Initial Catalog=item;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
        <connectionString name="item_write" value="Data Source=GDEVDB02,3950;Initial Catalog=item;UID=Gfrontwriter;PWD=gfw3950;Connection Reset=false" />
        <connectionString name="display_read" value="Data Source=GDEVDB01,3950;Initial Catalog=displaydb;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
        <connectionString name="ticket_read" value="Data Source=GDEVDB02,3950;Initial Catalog=ticket;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="ticket_write" value="Data Source=GDEVDB02,3950;Initial Catalog=ticket;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="gevent_read" value="Data Source=GDEVDB02,3950;Initial Catalog=gevent;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="gevent_write" value="Data Source=GDEVDB02,3950;Initial Catalog=gevent;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="proevent_read" value="Data Source=GDEVDB02,3950;Initial Catalog=proevent;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="proevent_write" value="Data Source=GDEVDB02,3950;Initial Catalog=proevent;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="nrdata_read" value="Data Source=GDEVDB02,3950;Initial Catalog=nrdata_event;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="neoevent_read" value="Data Source=GDEVDB02,3950;Initial Catalog=neoevent;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="crmdb_read" value="Data Source=GDEVDB02,3950;Initial Catalog=crmdb;UID=backend;PWD=admin3950;Connection Reset=false" />
        <connectionString name="stardb_read" value="Data Source=GDEVDB01,3950;Initial Catalog=stardb;UID=backend;PWD=admin3950;Connection Reset=false"/>
		<connectionString name="stardb_write" value="Data Source=GDEVDB01,3950;Initial Catalog=stardb;UID=backend;PWD=admin3950;Connection Reset=false"/>
	<!--<connectionString name="stardb_read" value="Data Source=172.30.127.31,3950;Initial Catalog=stardb;UID=dev;PWD=dev3950;Connection Reset=false" />
        <connectionString name="stardb_write" value="Data Source=172.30.127.31,3950;Initial Catalog=stardb;UID=dev;PWD=dev3950;Connection Reset=false" />-->
        <connectionString name="keyword_write" value="Data Source=GDEVDB02,3950;Initial Catalog=keyword;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
        <connectionString name="pointdb_read" value="Data Source=GDEVDB02,3950;Initial Catalog=pointdb;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
        <connectionString name="searchdb_read" value="Data Source=GDEVDB01,3950;Initial Catalog=search;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
        <connectionString name="search_read" value="Data Source=GDEVDB01,3950;Initial Catalog=search;UID=backend;PWD=sql3950;Connection Reset=false" />
        <connectionString name="minishop_read" value="Data Source=GDEVDB02,3950;Initial Catalog=minishopdb;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
        <connectionString name="minishop_write" value="Data Source=GDEVDB02,3950;Initial Catalog=minishopdb;UID=Gfrontwriter;PWD=gfw3950;Connection Reset=false" />
        <connectionString name="webzine_read" value="Data Source=GDEVDB02,3950;Initial Catalog=webzine;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
        <connectionString name="webzine_write" value="Data Source=GDEVDB02,3950;Initial Catalog=webzine;UID=Gfrontwriter;PWD=gfw3950;Connection Reset=false" />
        <connectionString name="event_read" value="Data Source=GDEVDB01,3950;Initial Catalog=event;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
        <connectionString name="addb_read" value="Data Source=GDEVDB02,3950;Initial Catalog=addb;UID=goodsdaq;PWD=sql3950;Connection Reset=false" />
        <connectionString name="ktsms_write" value="Data Source=GDEVDB02,3950;Initial Catalog=kt_sms;UID=dev;PWD=dev3950;Connection Reset=false" />
        <connectionString name="lion_write" value="Data Source=gdevdb01,3950;Initial Catalog=lion;UID=dev;PWD=dev3950;Connection Reset=false" />
        <connectionString name="customer_read" value="Data Source=GDEVDB01,3950;Initial Catalog=customer;UID=Gfrontreader;PWD=gfr3950;Connection Reset=false" />
      </connectionStrings>
    </data>
  </archefx.configuration>
  <enterpriselibrary.configurationSettings defaultSection="" applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection name="voyagerConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="voyagerConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
  </enterpriselibrary.configurationSettings>
</configuration>